---
layout: blank
---
<html><head>
	
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="robots" content="noindex,nofollow">
    <script type="text/javascript" src="{{ site.baseurl }}/assets/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/leandro.css">
		<title>Leandro Lattes</title>
		<script>			
		function resize(){
			console.log("r");
			var margin = 85;
			var h = $("#content").height();
			var f = $("footer").height();
			var total = margin+h+$("footer").height();
			if( total < $(window).height()){
		  	$("footer").css("top",$(window).height() - f);
			}
			else{
				$("footer").css("top",h+margin);
			}
		}
    $(window).resize(resize);
		$(window).scroll(resize);
		</script>
</head>
<body>

	<div id="content" class="content">
		<div id="freewall">
	
	<div class="brick">
		<a href="{{ site.baseurl }}/jazztel">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes23.jpg">
			<div class="textbox"><strong>Jazztel</strong><br>
            	Retailbranding: Franchise design and manual.<br>
				El vivero 2014
			</div>
		</a>
	</div>
    
    <div class="brick">
		<a href="{{ site.baseurl }}/extremadura-es-cultura">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes21.jpg">
			<div class="textbox"><strong>Gobierno de Extremadura</strong><br>
				<em>Extremadura es Cultura</em>. Brand design and visual identity exhibition space.<br>Trade fair stand design, Xian, China.<br>
                El vivero 2013-2014
        </div>
		</a>
	</div>

    <div class="brick">
		<a href="{{ site.baseurl }}/netescopio">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes24.jpg">
			<div class="textbox"><strong>AC/E, Acción Cultural Española</strong><br>
						<em>Netescopio, Net Art archive</em>. Travelling exhibition design. <br>
						El vivero 2012-2014
        </div>
		</a>
	</div> 
	
	<div class="brick">
		<a href="{{ site.baseurl }}/papelera-pitch-in">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes22.jpg">
			<div class="textbox"><strong>La Noche en Blanco 2010</strong><br>
				<em>Pitch-in Paper Basket</em> & public event design.<br>
                El vivero
        </div>
		</a>
	</div>
    
    <div class="brick">
		<a href="{{ site.baseurl }}/chachi">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes20.jpg">
			<div class="textbox"><strong>La Casa Encendida & Basurama</strong><br>
				<em>Chachi-100% crate</em>. Building game design.<br>
                El vivero </div>
		</a>
	</div>
    
    <div class="brick">
		<a href="{{ site.baseurl }}/camper">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes6.jpg">
			<div class="textbox"><strong>Camper</strong><br>
				Retailbranding: Shop design concept;<br />
				trade fair stands; point of sale and signage. <br>
				Agency: OMB </div>
		</a>
	</div>
    
    <div class="brick">
		<a href="{{ site.baseurl }}/museo-marco-stand">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes16.jpg">
			<div class="textbox"><strong>Marco, Museo de Arte contemporáneo</strong><br>
					Trade fair stand design at Arco Contemporary Art Fair. <br>
					El vivero
                    </div>
		</a>
	</div>
    
    <div class="brick">
		<a href="{{ site.baseurl }}/idealista">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes8.jpg">
			<div class="textbox"><strong>Idealista.com </strong><br>
				Trade fair stands design.<br>
				Agency:  Wollf Olins + El vivero 
</div>
		</a>
	</div>
    
    <div class="brick">
		<a href="{{ site.baseurl }}/bnp">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes9.jpg">
			<div class="textbox"><strong>BNP Paribas Bank</strong><br>
				Interior design.<br>
				Agency:  Wollf Olins 
</div>
		</a>
	</div>
	
	<div class="brick">
		<a href="{{ site.baseurl }}/optimus">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes11.jpg">
			<div class="textbox"><strong>Optimus </strong><br>
				Retailbranding: Shop design concept.<br>
				Agency: Wollf Olins 
                </div>
		</a>
	</div>    
    
    <div class="brick">
		<a href="{{ site.baseurl }}/grupo-santillana">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes18.jpg">
			<div class="textbox"><strong>Grupo Santillana</strong><br>
				Headquarters signage and wayfinding.<br>
                Agency: OMB 
                </div>
		</a>
	</div>
	
	
	
	    <div class="brick">
		<a href="{{ site.baseurl }}/ono">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes12.jpg">
			<div class="textbox"><strong>Ono</strong><br>
				Flagship store design.<br>
                Agency:  Wollf Olins 
                </div>
		</a>
	</div>
	
    
    
    
    
    
    
    
    
	<div class="brick">
		<a href="{{ site.baseurl }}/madritel">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes13.jpg">
			<div class="textbox"><strong>Madritel</strong><br>
				<em>La Casa de las palabras.</em> Exhibition design at Madrid’s book fair.<br>
				Agency:  Wollf Olins
        </div>
		</a>
	</div>
	
	<div class="brick">
		<a href="{{ site.baseurl }}/r">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes15.jpg">
			<div class="textbox"><strong>R internet-telefonía-televisión</strong><br>
				Trade fair stands design.<br>
				Agency:  Wollf Olins
                </div>
		</a>
	</div>
    
	<div class="brick">
		<a href="{{ site.baseurl }}/union-fenosa">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes5.jpg">
			<div class="textbox"><strong>Unión Fenosa</strong><br>
				Retailbranding: Shop design concept. <br>
				Agency: Wollf Olins </div>
		</a>
	</div>
    
    <div class="brick">
		<a href="{{ site.baseurl }}/madrid-km.0">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes10.jpg">
			<div class="textbox"><strong>Madrid km 0</strong><br>
        Exhibition design.<br>
        Agency:  Wollf Olins 
        </div>
		</a>
	</div>
	
	<div class="brick">
		<a href="{{ site.baseurl }}/barnasud">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes2.jpg">
			<div class="textbox"><strong>Centro comercial Barnasud</strong><br>
				Shopping center signage & wayfinding design.<br> 
				Agency: Addison 
		</div>
		</a>
	</div>
	
    <div class="brick">
		<a href="{{ site.baseurl }}/argentaria">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes3.jpg">
			<div class="textbox"><strong>Argentaria, Corporate & Investment Banking</strong><br>
				Interior design concept.  <br>
                Agency: John Ryan Company </div>
		</a>
	</div>
   
    <div class="brick">
		<a href="{{ site.baseurl }}/deutsche-bank">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes4.jpg">
			<div class="textbox"><strong>Deutsche Bank</strong><br>
			<em>Bankingshop</em> design concept. <br>
		Agency: John Ryan Company</div>
		</a>
	</div>
	
    <div class="brick">
		<a href="{{ site.baseurl }}/metro-bilbao">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes.jpg">
			<div class="textbox"><strong>Metro de Bilbao</strong>
            <br>Train design.<br>
				Agency: Addison
			</div>
		</a>
	</div>
    
    <div class="brick">
		<a href="{{ site.baseurl }}/luminaria-basica">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes7.jpg">
			<div class="textbox"><strong>Luminaria Básica</strong><br>
            	Lighting collection design.<br>
                El vivero
               </div> 
		</a>
	</div>
	
    <div class="brick">
		<a href="{{ site.baseurl }}/pixelware">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes14.jpg">
			<div class="textbox"><strong>PixelWare</strong><br>
				Trade Fair Stands.<br>
				El vivero
                </div>
		</a>
	</div>
	
    <div class="brick">
		<a href="{{ site.baseurl }}/trofeos">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes17.jpg">
			<div class="textbox"><strong>Fundación Autor</strong><br>
				Trophie design: Julio Alejandro Script Prize. <br>
				El vivero<br />
</div>
		</a>
	</div>
	
    <div class="brick">
		<a href="{{ site.baseurl }}/repsol">
			<img width="100%" src="{% include image_path.html %}/leandro/leandro-lattes19.jpg">
			<div class="textbox"><strong>Repsol</strong><br>
				Headquarters exterior signage.<br>
				Agency: GTE
                </div>
		</a>
	</div>
	</div>
		</div>
		<script type="text/javascript">
			var wall = new freewall("#freewall");
			wall.reset({
				selector: '.brick',
				animate: true,
				cellW: 300,
				cellH: 'auto',
				onResize: function() {
					wall.fitWidth();
				}
			});
			
			wall.container.find('.brick img').load(function() {
				wall.fitWidth();
			});



		</script>
	
	
</body></html>
