<div id="back" onclick="hidecontact()" style="visibility: hidden;"></div>
<div id="contact" style="visibility: hidden; opacity: 0;">
<a class="close" onclick="hidecontact()"><img src="{{ site.baseurl }}/assets/img/icons/cruz.png"></a>
<b>El vivero</b><br>
<br>
T +34 915 328 011<br>
<a href="mailto:info@elvivero.es">e-mail</a><br><br>
Calle Pez, 27. Oficina 312<br>28004 Madrid<br><br>
<a href="https://goo.gl/maps/KXOsF" target="_blank">View map &gt;</a><br><br>
<div class="social" style="margin-top: 13px;">
<span id="face">
  <a href="https://www.facebook.com/elviverodesign" target="_blank" class="nohover">
    <img class="nohover" src="{{ site.baseurl }}/assets/img/icons/facebook.png" id="face-icon"> like</a>
</span>
<span id="issuu">
  <a href="http://issuu.com/elvivero" target="_blank" class="nohover">
    <img class="nohover" src="{{ site.baseurl }}/assets/img/icons/issuu.png" id="issuu-icon"> Issuu</a>
  </span>
</div>
</div>
