<div id="escaparate" class="escaparate">
  <div id="fondo" style="position: absolute; left: 0px; top: 62px; width: 7620px; height: 535px; z-index: 1">
    <div id="Layer3" style="position: absolute; left: 2160px; top: 186px; width: 180; height: 199px; z-index: 36">
      <img src="http://elvivero.es/escaparate/images/despleg_e.jpg" width="182" height="193" border="0" usemap="#Map2">
    </div>
    <div id="Layer2" style="z-index: 2; z-order: 2; height: 153; width: 139; top: 7px; left: 6148px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/bienalvenecia.jpg" width="139" height="153" border="0" usemap="#Map27">
    </div>
    <div id="Layer4" style="z-index: 4; z-order: 4; height: 127; width: 120px; top: 187px; left: 4220px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/fluxus.jpg" width="126" height="181" usemap="#Map3" border="0">
    </div>
    <div id="Layer5" style="z-index: 5; z-order: 5; height: 188px; width: 138px; top: 110px; left: 5028px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/arco_cubierta.jpg" width="136" height="185" border="0" usemap="#Map6MapMap2">
    </div>
    <div id="Layer5" style="z-index: 5; z-order: 5; height: 125; width: 96; top: 47px; left: 5574px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/carmor_e.jpg" width="96" height="125" border="0" usemap="#Map6">
    </div>
    <div id="Layer6" style="z-index: 6; z-order: 6; height: 135px; width: 145px; top: 164px; left: 7324px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/cyccport_e2.jpg" width="156" height="150" border="0" usemap="#Map20">
    </div>
    <div id="Layer8" style="z-index: 8; z-order: 8; height: 114; width: 119; top: 401px; left: 6235px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/basso_e2.jpg" width="156" height="140" border="0" usemap="#Map26">
    </div>
    <div id="Layer9" style="z-index: 9; z-order: 9; height: 132px; width: 90px; top: 223px; left: 3985px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/albarrc_e.jpg" width="89" height="130" border="0" usemap="#Map11">
    </div>
    <div id="Layer10" style="z-index: 10; z-order: 10; height: 118; width: 166; top: 403px; left: 6832px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/brk_e.jpg" width="166" height="118" border="0" usemap="#Map22">
    </div>
    <div id="Layer11" style="z-index: 11; z-order: 11; height: 60px; width: 200px; top: 431px; left: 4047px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/eclectic2.jpg" width="200" height="51" usemap="#Map19" border="0">
    </div>
    <div id="Layer12" style="z-index: 12; z-order: 12; height: 183; width: 173; top: 369px; left: 5417px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/fecyt2_e.jpg" width="173" height="183" border="0" usemap="#Map8">
    </div>
    <div id="Layer13" style="z-index: 13; z-order: 13; height: 74; width: 149; top: 447px; left: 4648px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/hfde_e.jpg" width="149" height="74" border="0" usemap="#Map12">
    </div>
    <div id="Layer14" style="z-index: 14; z-order: 14; height: 75px; width: 149px; top: 447px; left: 4809px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/hfde2_e.jpg" width="148" height="74" border="0" usemap="#Map4">
    </div>
    <div id="Layer16" style="z-index: 16; z-order: 16; height: 104; width: 136; top: 196px; left: 5294px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/idealista-01b.jpg" width="225" height="137" usemap="#Map18" border="0">
    </div>
    <div id="Layer17" style="z-index: 17; z-order: 17; height: 130; width: 91; top: -10px; left: 5304px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/lumin_e.jpg" width="91" height="130" border="0" usemap="#Map9">
    </div>
    <div id="Layer18" style="z-index: 18; z-order: 18; height: 113; width: 150px; top: 392px; left: 6516px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/madritel_e.jpg" width="148" height="113" border="0" usemap="#Map21">
    </div>
    <div id="Layer19" style="z-index: 19; z-order: 19; height: 106; width: 141; top: 279px; left: 5667px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/mncn_e.jpg" width="141" height="106" border="0" usemap="#Map10">
    </div>
    <div id="Layer20" style="z-index: 20; z-order: 20; height: 48; width: 171; top: 25px; left: 4802px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/marco_e.jpg" width="171" height="48" border="0" usemap="#Map7">
    </div>
    <div id="Layer21" style="z-index: 21; z-order: 21; height: 118; width: 148; top: 65px; left: 7014px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/puch_e.jpg" width="148" height="118" border="0" usemap="#Map29">
    </div>
    <div id="Layer22" style="z-index: 22; z-order: 22; height: 102; width: 151; top: 140px; left: 6388px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/prf_amo_e.jpg" width="151" height="102" border="0" usemap="#Map16">
    </div>
    <div id="Layer23" style="z-index: 23; z-order: 23; height: 107; width: 219; top: 218px; left: 6657px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/rstand_e.jpg" width="219" height="107" border="0" usemap="#Map13">
    </div>
    <div id="Layer26" style="z-index: 26; z-order: 26; height: 99px; width: 169px; top: 250px; left: 5978px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/marcostand_e2.jpg" width="194" height="100" border="0" usemap="#Map">
    </div>
    <div id="Layer27" style="z-index: 27; z-order: 27; height: 127; width: 164; top: 5px; left: 5777px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/otngcbrt_e.jpg" width="164" height="127" border="0" usemap="#Map17">
    </div>
    <div id="Layer28" style="z-index: 28; z-order: 28; height: 90px; width: 134px; top: 269px; left: 7065px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/pixelware_e2.jpg" width="155" height="120" border="0" usemap="#Map25">
    </div>
    <div id="Layer29" style="z-index: 29; z-order: 29; height: 117px; width: 109px; top: 7px; left: 6690px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/ono_e2.jpg" width="189" height="115" border="0" usemap="#Map23">
    </div>
    <div id="Layer31" style="z-index: 31; z-order: 31; height: 96px; width: 64px; top: 7px; left: 7463px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/trofeo_e2.jpg" width="64" height="100" border="0" usemap="#Map30">
    </div>
    <div id="Layer34" style="z-index: 34; z-order: 34; height: 88px; width: 189px; top: 432px; left: 5829px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/ps1_e2.jpg" width="191" height="87" border="0" usemap="#Map14">
    </div>
    <div id="Layer25" style="z-index: 5; z-order: 5; height: 145; width: 105; top: 375px; left: 7413px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/metro_02.jpg" width="112" height="158" border="0" usemap="#Map24Map">
    </div>
    <div id="Layer27" style="z-index: 27; z-order: 27; height: 118px; width: 87px; top: 389px; left: 5096px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/beckett.jpg" width="108" height="146" usemap="#Map45" border="0">
    </div>
    <div id="Layer5" style="z-index: 5; z-order: 5; height: 118px; width: 82px; top: 376px; left: 3600px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/inventario.jpg" width="120" height="162" usemap="#Map43" border="0">
    </div>
    <div id="Layer5" style="z-index: 5; z-order: 5; height: 167px; width: 100; top: 236px; left: 3386px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/prim_cub01.jpg" width="112" height="185" border="0" usemap="#Map36">
    </div>
    <div id="Layer5" style="z-index: 5; z-order: 5; height: 172px; width: 146px; top: 178px; left: 4774px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/sanidad.jpg" width="140" height="183" usemap="#Map39" border="0">
    </div>
    <div id="Layer7" style="z-index: 5; z-order: 5; height: 150; width: 115; top: 15px; left: 4550px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/LH.jpg" alt="" width="118" height="150" border="0" usemap="#Map34">
    </div>
    <div id="Layer38" style="z-index: 5; z-order: 5; height: 94px; width: 63px; top: 61px; left: 2573px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/presentense.jpg" alt="" width="90" height="133" border="0" usemap="#Map32MapMap">
    </div>
    <div id="Layer40" style="z-index: 5; z-order: 5; height: 141px; width: 99px; top: 194px; left: 1449px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/multitsing.jpg" alt="" width="104" height="150" border="0" usemap="#Map32MapMapMapMap">
    </div>
    <div id="Layer37" style="z-index: 5; z-order: 5; height: 155px; width: 130px; top: 399px; left: 3858px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/milmilmil.jpg" alt="" width="147" height="155" border="0" usemap="#Map32MapMap3MapMap2Map">
    </div>
    <div id="Layer42" style="z-index: 5; z-order: 5; height: 123px; width: 60px; top: 163px; left: 1944px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/plp-lomos.jpg" alt="" width="71" height="120" border="0" usemap="#Map33Map">
    </div>
    <div id="Layer24" style="z-index: 5; z-order: 5; height: 110; width: 70; top: 247px; left: 4464px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/acerca.jpg" alt="" width="160" height="179" usemap="#Map37" border="0">
    </div>
    <div id="Layer30" style="z-index: 7; z-order: 7; height: 97; width: 90; top: 2px; left: 2036px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/chachi_e2.jpg" alt="" width="119" height="110" border="0" usemap="#Map5">
    </div>
    <div id="Layer32" style="z-index: 5; z-order: 5; height: 105; width: 83px; top: 21px; left: 4276px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/tempos2.jpg" alt="" width="160" height="103" border="0" usemap="#Map32MapMapMap">
    </div>
    <div id="Layer33" style="z-index: 5; z-order: 5; height: 94px; width: 63px; top: 430px; left: 4319px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/visionarios105px.jpg" alt="" width="76" height="105" border="0" usemap="#Map32MapMapMap2">
    </div>
    <div id="Layer35" style="z-index: 5; z-order: 5; height: 155px; width: 114px; top: 181px; left: 2971px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/ccc07.jpg" alt="" width="105" height="150" border="0" usemap="#Map32Map">
    </div>
    <div id="Layer36" style="z-index: 5; z-order: 5; height: 172px; width: 210px; top: 383px; left: 2800px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/mmcubierta.jpg" alt="" width="208" height="170" border="0" usemap="#Map31">
    </div>
    <div id="Layer41" style="z-index: 5; z-order: 5; height: 107px; width: 123px; top: 426px; left: 2269px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/postales.jpg" alt="" width="140" height="116" usemap="#Map44" border="0">
    </div>
    <div id="Layer43" style="z-index: 5; z-order: 5; height: 156px; width: 116px; top: 1px; left: 3933px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/lineasdemira01.jpg" alt="" width="111" height="150" border="0" usemap="#Map35MapMap2">
    </div>
    <div id="Layer44" style="z-index: 5; z-order: 5; height: 92px; width: 88px; top: 289px; left: 2500px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/jacksmith.jpg" alt="" width="94" height="135" border="0" usemap="#Map32MapMap3">
    </div>
    <div id="Layer45" style="z-index: 5; z-order: 5; height: 150; width: 135; top: -4px; left: 2827px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/Bienal07.jpg" alt="" width="139" height="150" border="0" usemap="#Map38">
    </div>
    <div id="Layer46" style="z-index: 5; z-order: 5; height: 136px; width: 82px; top: 321px; left: 1766px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/aliasyed.jpg" alt="" width="74" height="130" border="0" usemap="#Map32MapMap2Map">
    </div>
    <div id="Layer39" style="z-index: 5; z-order: 5; height: 92px; width: 88px; top: 140px; left: 3648px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/revistas01.jpg" alt="" width="207" height="175" border="0" usemap="#Map31Map2Map2">
    </div>
    <div id="Layer47" style="z-index: 5; z-order: 5; height: 115; width: 120; top: 397px; left: 1553px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/papelera.jpg" width="121" height="124" border="0" usemap="#Map32MapMap3MapMap2MapMapMap2">
    </div>
    <div id="Layer47" style="z-index: 5; z-order: 5; height: 120; width: 103px; top: 377px; left: 1311px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/lax2.jpg" width="100" height="121" border="0" usemap="#Map32MapMap3MapMap2MapMapMapMap">
    </div>
    <div id="Layer47" style="z-index: 5; z-order: 5; height: 193px; width: 181px; top: 39px; left: 1636px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/de11a21-esc-01.jpg" width="192" height="195" usemap="#Map15" border="0">
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 188px; top: 1px; left: 12px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/fl2.jpg" width="239" height="105" usemap="#Map35" border="0" title="Freshlatino 2" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 106px; top: 420px; left: 1964px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/cuba.jpg" width="100" height="100" usemap="#Map40" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 200px; top: 4px; left: 905px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/eec.jpg" width="200" height="116" usemap="#Map41" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 92px; width: 104px; top: 23px; left: 1329px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/7impertinentes.jpg" width="100" height="87" usemap="#Map33" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 92px; width: 96px; top: 71px; left: 3210px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/bombita.jpg" width="90" height="93" usemap="#Map42" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 105px; width: 179px; top: 411px; left: 983px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/netescopio.jpg" width="174" height="100" usemap="#Map24" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 97px; width: 146px; top: 437px; left: 9px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/buendia-01.jpg" width="140" height="95" border="0" usemap="#Map32MapMap3MapMap2MapMapMap" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 80px; width: 93px; top: 46px; left: 648px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/cfgl4.jpg" alt="" width="94" height="94" usemap="#Map46" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 87px; top: 18px; left: 2358px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/retirada.jpg" alt="" width="90" height="116" usemap="#Map47" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 139px; width: 137px; top: 171px; left: 1162px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/tomas.jpg" alt="" width="160" height="136" usemap="#Map40Map" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 96px; width: 119px; top: 180px; left: 395px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/ao.jpg" alt="" width="100" height="80" usemap="#Map40MapMap" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 92px; top: 7px; left: 3445px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/mn.jpg" alt="" width="117" height="147" usemap="#Map48" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 92px; top: 202px; left: 2704px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/ec.jpg" alt="" width="136" height="136" usemap="#Map50" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 92px; width: 96px; top: 367px; left: 3136px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/biografias.jpg" alt="" width="120" height="167" usemap="#Map49" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 106px; top: 352px; left: 203px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/banco.jpg" alt="" width="170" height="113" usemap="#Map40MapMapMapMapMap2" border="0" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 106px; top: 36px; left: 335px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/24x7.jpg" alt="" width="140" height="91" border="0" usemap="#24x7" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 106px; top: 187px; left: 72px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/lktab.jpg" alt="" width="130" height="79" border="0" usemap="#lk" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 73px; width: 120px; top: 418px; left: 453px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/TSgallery.jpg" alt="" width="150" height="91" border="0" usemap="#teresaserrano" />
    </div>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 106px; top: 174px; left: 871px; position: absolute;">
      <img src="http://elvivero.es/escaparate/images/cartagena.jpg" alt="" width="134" height="178" usemap="#Map40MapMapMapMapMap" border="0" />
    </div>

    <!-- MAPS -->

    <map name="24x7" id="24x7">
      <area shape="rect" coords="0,0,140,91" href="./projects/24x7" target="_parent" />
    </map>
    <map name="teresaserrano" id="teresaserrano">
      <area shape="rect" coords="-1,0,149,91" href="./projects/teresa-serrano" target="_parent" />
    </map>
    <map name="lk" id="lk">
    <area shape="rect" coords="0,0,130,79" href="./projects/leandro-katz" target="_parent" />
    </map>
    <map name="Map43" id="Map43">
  <area shape="rect" coords="14,14,104,148" href="./projects/inventario" target="_parent" />
</map>
    <map name="Map32MapMap3MapMap2MapMapMap" id="Map32MapMap3MapMap2MapMapMap">
  <area shape="rect" coords="7,-1,146,93" href="./projects/buen-dia" target="_parent" />
</map>
    <map name="Map24" id="Map24">
  <area shape="rect" coords="2,1,176,97" href="./projects/netescopio" target="_parent" />
</map>
    <map name="Map42" id="Map42">
  <area shape="circle" coords="46,55,42" href="./projects/claudio-gabis" target="_parent" />
</map>
    <map name="Map33" id="Map33">
<area shape="poly" coords="25,2,-2,43,24,85,73,89,97,42,75,1" href="./projects/7-impertinentes"  />
</map>
    <map name="Map5">
<area shape="rect" coords="1,0,122,130" href="./projects/chachi" target="_parent">
</map>
    <map name="Map37" id="Map37">
<area shape="poly" coords="75,23,41,16,35,29,31,76,11,112,23,139,42,157,123,159,124,102,155,64,131,40,130,27,105,26,86,11" href="./projects/acerca" target="_parent" />
</map>
    <map name="Map4">
<area shape="rect" coords="0,0,149,73" href="./projects/hfde2" target="_parent">
</map>
    <map name="Map35Map" id="Map35Map">
<area shape="poly" coords="10,7,67,8,118,6,178,7,218,10,225,34,146,46,156,61,162,78,114,88,58,97,8,95" href="./projects/freshlatino2" target="_parent" title="Freshlatino 2" />
</map>
    <map name="Map41" id="Map41">
  <area shape="poly" coords="7,97,49,102,103,107,196,116,198,9,81,20,7,28" href="./projects/extremadura-es-cultura" target="_parent"  />
</map>
    <map name="Map40" id="Map402">
<area shape="rect" coords="7,6,97,98" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40" id="Map40">
<area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent"title="Extremadura es Cultura" />
</map>
    <map name="Map35" id="Map35">
<area shape="poly" coords="6,7,26,7,42,7,62,7,207,12,229,27,148,83,62,99,23,99,6,94,6,58,6,22" href="./projects/freshlatino2" target="_parent"  />
</map>
    <map name="Map32MapMap3MapMap2MapMapMapMap">
<area shape="poly" coords="11,3,92,3,94,32,98,115,9,115,10,41" href="./projects/lax" target="_parent">
</map>
    <map name="Map32MapMap3MapMap2MapMapMap2">
<area shape="poly" coords="0,26,63,5,117,32,113,90,54,124,21,89" href="./projects/papelera-pitch-in" target="_parent" >
</map>
    <map name="Map6">
      <area shape="rect" coords="-5,0,96,126" href="./projects/carcel-de-amor" target="_parent">
    </map>
    <map name="Map7">
      <area shape="rect" coords="-1,0,172,48" href="./projects/museo-marco" target="_parent">
    </map>
    <map name="Map8">
      <area shape="poly" coords="80,8,2,72,4,77,35,118,47,167,58,166,63,182,165,145,159,125,165,107,150,91,141,13,89,19" href="./projects/fecyt-marca" target="_parent">
    </map>
    <map name="Map9">
      <area shape="rect" coords="-4,-3,89,145" href="./projects/luminaria-basica" target="_parent">
    </map>
    <map name="Map10">
      <area shape="rect" coords="3,6,140,107" href="./projects/monocanal" target="_parent">
    </map>
    <map name="Map15" id="Map15">
<area shape="poly" coords="29,187,27,113,19,30,58,16,159,18,176,41,175,183" href="./projects/de11a21">
     </map>
    <map name="Map11">
      <area shape="rect" coords="2,-11,92,120" href="./projects/pilar-albarracin" target="_parent">
    </map>
    <map name="Map12">
      <area shape="rect" coords="4,3,158,75" href="./projects/hfde1" target="_parent">
    </map>
    <map name="Map13">
      <area shape="poly" coords="47,109,-2,91,-2,15,47,3,214,26,213,75,49,105" href="./projects/r" target="_parent">
    </map>
    <map name="Map16">
      <area shape="rect" coords="76,-1,151,100" href="./projects/mncars-amor" target="_parent">
      <area shape="rect" coords="0,-2,78,102" href="./projects/mncars-no-performances" target="_parent">
    </map>
    <map name="Map32MapMapMapMap">
    <area shape="rect" coords="3,6,100,149" href="./projects/multitud-singular" target="_parent" >
  </map>
    <map name="Map32MapMap">
  <area shape="rect" coords="0,0,130,192" href="./projects/present-tense" target="_parent">
</map>
    <map name="Map34">
<area shape="rect" coords="5,5,112,145" href="./projects/rafael-lozano-hemmer" target="_parent">
</map>
    <map name="Map36">
<area shape="rect" coords="0,-2,116,184" href="./projects/primera-generacion" target="_parent">
</map>
    <map name="Map39" id="Map39">
<area shape="poly" coords="9,16,23,16,24,6,88,15,124,13,122,24,138,25,122,124,122,173,114,182,16,175,3,164,16,98" href="./projects/ministerio-sanidad" />
</map>

    <map name="Map3" id="Map3">
   <area shape="poly" coords="18,14,30,8,108,25,108,160,33,174,19,169" href="./projects/fluxus" target="_parent" />
</map>
    <map name="Map18" id="Map18">
  <area shape="poly" coords="4,12,15,4,172,33,176,84,220,94,218,106,84,133,38,113,11,116,3,109" href="./projects/idealista" target="_parent" />
</map>
    <map name="Map2">
<area shape="poly" coords="165,172,149,174,139,186,117,179,99,189,63,171,57,155,50,145,44,147,28,118,7,100,11,93,4,84,12,73,7,61,90,6,106,26,153,21,159,31,167,34,168,52,171,67,180,82,165,111,173,117,157,142,157,142,162,142,163,133" href="./projects/mncars-audiovisuales" target="_parent">
</map>
    <map name="Map6MapMap2">
  <area shape="rect" coords="3,-1,146,186" href="./projects/arco" target="_parent">
</map>


    <map name="Map24Map">
  <area shape="rect" coords="4,11,109,158" href="./projects/biombo" target="_parent">
</map>
    <map name="Map45" id="Map45">
  <area shape="rect" coords="2,4,103,143" href="./projects/samuel-beckett" target="_parent" />
</map>


    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-1,-11,181,109" href="./projects/banco-madrid" target="_parent" />
</map>
    <map name="Map32MapMap2Map">
<area shape="rect" coords="2,0,99,143" href="./projects/mncars-alia-syed" target="_parent">
</map>

    <map name="Map38">
<area shape="poly" coords="19,18,19,39,2,110,29,134,69,137,85,144,92,136,104,134,109,107,129,25,90,12,20,17" href="./projects/bienal-venecia-es" target="_parent">
</map>
    <map name="Map32MapMap3">
<area shape="rect" coords="1,0,94,134" href="./projects/jack-smith" target="_parent">
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="11,14,122,162" href="./projects/biaci-1" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap2" id="Map40MapMapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map31Map2Map2">
<area shape="poly" coords="34,16,12,84,32,160,79,175,182,176,220,135,215,18,99,5" href="./projects/mncars-comunicacion" target="_parent">
</map>
    <map name="Map17">
  <area shape="rect" coords="2,1,167,127" href="./projects/ulrike-ottinger" target="_parent">
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="9,11,124,164" href="./projects/biaci-1" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map33Map">
<area shape="rect" coords="2,2,74,160" href="./projects/meiac-marta-de-menezes" target="_parent">
</map>
    <map name="Map32MapMap3MapMap2Map">
<area shape="poly" coords="16,26,41,18,96,9,138,110,42,138,20,45" href="projects/disco-flaming-star-ca2m" target="_parent">
</map>

    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMapMap" id="Map40MapMapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map21">
  <area shape="rect" coords="-5,2,143,116" href="./projects/madritel" target="_parent">
</map>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 106px; top: 205px; left: 567px; position: absolute;"><img src="http://elvivero.es/escaparate/images/hs.jpg" alt="" width="133" height="155" usemap="#Map40MapMapMapMap" border="0" /></div>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="18,11,115,147" href="./projects/hito-steyerl" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map35MapMap2">
  <area shape="rect" coords="7,8,105,145" href="./projects/lineas-de-mira" target="_parent">
</map>
    <map name="Map44" id="Map44">
<area shape="poly" coords="13,20,11,34,17,90,29,110,90,95,125,99,135,87,125,16,109,6,72,19,18,14" href="./projects/mncars-actividades" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map31">
<area shape="poly" coords="20,24,16,35,76,164,190,134,199,117,127,7,122,6" href="./projects/madrid-mirada" target="_parent">
</map>
    <map name="Map32Map">
<area shape="rect" coords="6,10,103,153" href="./projects/mncars-cine-y-casi-2007" target="_parent">
</map>
    <map name="Map32MapMapMap2">
<area shape="rect" coords="-5,3,92,146" href="./projects/mncars-latinoamerica" target="_parent">
</map>
    <map name="Map32MapMapMap">
<area shape="rect" coords="-3,5,200,148" href="./projects/tempos" target="_parent">
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="11,14,122,162" href="./projects/biaci-1" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMapMap" id="Map40MapMapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map22">
  <area shape="rect" coords="3,0,167,118" href="./projects/stan-brakhage" target="_parent">
</map>
    <div style="z-index: 5; z-order: 5; height: 76px; width: 106px; top: 348px; left: 745px; position: absolute;"><img src="http://elvivero.es/escaparate/images/dark3.jpg" alt="" width="90" height="180" usemap="#Map40MapMapMap" border="0" /></div>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="6,3,92,178" href="./projects/dark" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMapMap" id="Map40MapMapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map27">
  <area shape="poly" coords="28,5,116,14,135,133,41,148,27,125,12,123,15,77,6,32,24,26" href="./projects/bienal-venecia-es" target="_parent">
</map>
    <map name="Map49" id="Map49">
  <area shape="rect" coords="10,7,107,163" href="./projects/zulma-recchini" target="_parent" />
</map>
    <map name="Map33Map2" id="Map33Map2">
  <area shape="poly" coords="26,-1,-1,40,25,82,74,86,98,39,76,-2" href="./projects/7-impertinentes" title="7 Impertinentes" />
</map>
    <map name="Map50" id="Map50">
  <area shape="rect" coords="29,11,107,134" href="./projects/extremadura-es-cultura" target="_parent" />
</map>
    <map name="Map29">
  <area shape="rect" coords="1,1,148,118" href="./projects/gonzalo-puch" target="_parent">
</map>
    <map name="Map">
  <area shape="rect" coords="-6,-6,192,124" href="./projects/museo-marco-stand" target="_parent">
</map>
    <map name="Map20">
  <area shape="rect" coords="-3,-1,162,157" href="./projects/mncars-cine-y-casi-cine" target="_parent">
</map>
    <map name="Map26">
  <area shape="rect" coords="-3,4,152,143" href="./projects/dario-basso" target="_parent">
</map>
    <map name="Map48" id="Map48">
  <area shape="rect" coords="8,5,112,136" href="./projects/miquel-navarro" target="_parent" />
</map>
    <map name="Map14">
  <area shape="rect" coords="-9,-9,189,88" href="./projects/ps1" target="_parent">
</map>
    <map name="Map30">
  <area shape="rect" coords="-4,2,96,161" href="./projects/trofeo" target="_parent">
</map>
    <map name="Map23">
  <area shape="rect" coords="0,3,194,119" href="./projects/ono" target="_parent">
</map>
    <map name="Map19">
  <area shape="rect" coords="-12,8,199,51" href="./projects/eclectic" target="_parent">
</map>
    <map name="Map47" id="Map47">
  <area shape="rect" coords="8,7,79,112" href="./projects/ana-luiza-martins-costa" target="_parent" />
</map>

    <map name="Map40MapMap" id="Map40MapMap3">
  <area shape="rect" coords="1,-5,100,94" href="./projects/architectus-omnibus" target="_parent" />
  </map>
    <map name="Map40MapMap" id="Map40MapMap3">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMap" id="Map40MapMap2">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMap" id="Map40MapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMap" id="Map40MapMap2">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMap" id="Map40MapMap2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map25">
  <area shape="rect" coords="1,1,160,122" href="./projects/pixelware" target="_parent">
</map>
    <map name="Map35MapMap3MapMap" id="Map35MapMap3MapMap">
  <area shape="poly" coords="10,7,67,8,118,6,178,7,218,10,225,34,146,46,156,61,162,78,114,88,58,97,8,95" href="./projects/freshlatino2" target="_parent" title="Freshlatino 2" />
</map>
    <map name="Map40Map" id="Map40Map22">
  <area shape="rect" coords="10,10,152,124" href="./projects/thomas-florschuetz" target="_parent"  />
</map>
    <map name="Map40Map" id="Map40Map22">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40Map" id="Map40Map3">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40Map" id="Map40Map3">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40Map" id="Map40Map2">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40Map" id="Map40Map2">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40Map" id="Map40Map">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40Map" id="Map40Map">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMap" id="Map40MapMap">
  <area shape="rect" coords="-23,17,81,127" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMap" id="Map40MapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map40MapMap" id="Map40MapMap">
  <area shape="rect" coords="-36,7,68,117" href="./projects/" target="_parent" />
</map>
    <map name="Map40MapMap" id="Map40MapMap">
  <area shape="rect" coords="1,-5,105,105" href="./projects/outsiders-cuba" target="_parent" />
</map>
    <map name="Map46" id="Map46222">
  <area shape="poly" coords="1,4,3,38,35,38,34,95,92,97,93,29,30,28,31,9" href="./projects/centro-federico-garcia-lorca" target="_parent" />
</map>
  </div>
</div>
