<header class="menu menu-es">
	<section id="homebutton"><a href="{{ site.baseurl }}/">El vivero</a></section>
	<section id="project-link">
    <!-- {% include menu_select.html %} -->
    <a onclick="displaySelector()">Projects</a>
	</section>
	<section id="gallery-link"><a href="{{ site.baseurl }}/">Gallery</a></section>
	<section id="studio-link"><a href="{{ site.baseurl }}/studio/">Studio</a></section>
  <section id="contact-link"><a onclick="displaycontact()">Contact</a></section>
  <section id="shop-link"><a href="http://www.buendiashop.com/"target="_blank">Shop</a></section>
</header>
