<ul id="selector" style="visibility: hidden; opacity: 0;">
  
  <li class="section">IDENTITY</li>
  <li><a href="{{ site.baseurl }}/architectus-omnibus">Architectus Omnibus?</a></li>
  <li><a href="{{ site.baseurl }}/mncars-audiovisuales"> Audiovisuales MNCARS</a></li>
  <li><a href="{{ site.baseurl }}/centro-federico-garcia-lorca">Centro Federico García Lorca</a></li>
  <li><a href="{{ site.baseurl }}/eclectic">Eclèctic</a></li>
  <li><a href="{{ site.baseurl }}/extremadura-es-cultura">Extremadura es Cultura</a></li>
  <li><a href="{{ site.baseurl }}/fecyt-marca">Fecyt</a></li>
  <li><a href="{{ site.baseurl }}/freshlatino2">Freshlatino 02</a></li>
  <li><a href="{{ site.baseurl }}/ministerio-sanidad">Min Sanidad y Consumo</a></li>
  <li><a href="{{ site.baseurl }}/museo-marco">Museo Marco de Vigo</a></li>

  <li class="section">COMUNICATION</li>
  <li><a href="{{ site.baseurl }}/7-impertinentes">7 Impertinentes</a></li>
  <li><a href="{{ site.baseurl }}/claudio-gabis">Claudio Gabis</a></li>
  <li><a href="{{ site.baseurl }}/dark">Dark. Torraspapel</a></li>
  <li><a href="{{ site.baseurl }}/bienal-venecia-es">España, Bienal Venecia</a></li>
  <li><a href="{{ site.baseurl }}/mncars-comunicacion">MNCARS. Museo Reina Sofía</a></li>
  <li><a href="{{ site.baseurl }}/ps1">The Real Royal Trip PS1</a></li>
  
  <li class="section">BOOKS/CATALOGUES</li>
  <li><a href="{{ site.baseurl }}/acerca">Acerca</a></li>
  <li><a href="{{ site.baseurl }}/mncars-aaa-syed">Aaa Syed</a></li>
  <li><a href="{{ site.baseurl }}/arco">ARCO 25 aniversario</a></li>
  <li><a href="{{ site.baseurl }}/carcel-de-amor">Cárcel de amor</a></li>
  <li><a href="{{ site.baseurl }}/mncars-cine-y-casi-cine">Cine y casi cine</a></li>
  <li><a href="{{ site.baseurl }}/mncars-cine-y-casi-2007">Cine y casi cine 2007</a></li>
  <li><a href="{{ site.baseurl }}/dario-basso">Dario Basso</a></li>
  <li><a href="{{ site.baseurl }}/mncars-amor">Describiendo el amor</a></li>
  <li><a href="{{ site.baseurl }}/de11a21">de 11 a 21 - revista</a></li>
  <li><a href="{{ site.baseurl }}/fluxus">Fluxus</a></li>
  <li><a href="{{ site.baseurl }}/gonzalo-puch">Gonzalo Puch</a></li>
  <li><a href="{{ site.baseurl }}/hfde1">hfde</a></li>
  <li><a href="{{ site.baseurl }}/hfde2">hfde2</a></li>
  <li><a href="{{ site.baseurl }}/hito-steyerl">Hito Steyerl. Duty-Free Art</a></li>
  <li><a href="{{ site.baseurl }}/inventario">Inventario</a></li>
  <li><a href="{{ site.baseurl }}/jack-smith">Jack Smith</a></li>
  <li><a href="{{ site.baseurl }}/lax">LAX</a></li>
  <li><a href="{{ site.baseurl }}/aneas-de-mira">Lineas de mira</a></li>
  <li><a href="{{ site.baseurl }}/madrid-mirada">Madrid Mirada</a></li>
  <li><a href="{{ site.baseurl }}/disco-flaming-star-ca2m">Mil Veras</a></li>
  <li><a href="{{ site.baseurl }}/monocanal">Monocanal</a></li>
  <li><a href="{{ site.baseurl }}/multitud-singular">Multitud Singular</a></li>
  <li><a href="{{ site.baseurl }}/outsiders-cuba">Naemi</a></li>
  <li><a href="{{ site.baseurl }}/pilar-albarracin">Pilar Albarracín</a></li>
  <li><a href="{{ site.baseurl }}/meiac-marta-de-menezes">Post Local Projects</a></li>
  <li><a href="{{ site.baseurl }}/present-tense">Present Tense</a></li>
  <li><a href="{{ site.baseurl }}/primera-generacion">Primera Generación</a></li>
  <li><a href="{{ site.baseurl }}/rafael-lozano-hemmer">Rafael Lozano-Hemmer</a></li>
  <li><a href="{{ site.baseurl }}/samuel-beckett">Samuel Beckett</a></li>
  <li><a href="{{ site.baseurl }}/stan-brakhage">Stan Brakhage</a></li>
  <li><a href="{{ site.baseurl }}/tempos">Tempo(s)</a></li>
  <li><a href="{{ site.baseurl }}/ulrike-ottinger">Ulrike Ottinger</a></li>
  <li><a href="{{ site.baseurl }}/mncars-latinoamerica">Visionarios</a></li>
  
  <li class="section">EXHIBITIONS</li>
  <li><a href="{{ site.baseurl }}/extremadura-es-cultura">Extremadura es Cultura</a></li>
  <li><a href="{{ site.baseurl }}/ideaasta">Ideaasta.com</a></li>
  <li><a href="{{ site.baseurl }}/madritel">Madritel</a></li>
  <li><a href="{{ site.baseurl }}/museo-marco-stand">Museo Marco</a></li>
  <li><a href="{{ site.baseurl }}/netescopio">Netescopio</a></li>
  <li><a href="{{ site.baseurl }}/ono">Ono</a></li>
  <li><a href="{{ site.baseurl }}/pixelware">PixelWare</a></li>
  <li><a href="{{ site.baseurl }}/r">R-telefonia/internet/tv</a></li>
  
  <li class="section">PRODUCTS</li>
  <li><a href="{{ site.baseurl }}/biombo">2 metros. Biombo</a></li>
  <li><a href="{{ site.baseurl }}/buen-dia">Buen Día</a></li>
  <li><a href="{{ site.baseurl }}/chachi">Chachi. Juego </a></li>
  <li><a href="{{ site.baseurl }}/dark">Dark. Torraspapel</a></li>
  <li><a href="{{ site.baseurl }}/luminaria-basica">Luminaria Básica</a></li>
  <li><a href="{{ site.baseurl }}/pitch-in">Pitch-in Paper Basket</a></li>
  <li><a href="{{ site.baseurl }}/trophy">SGAE Trophy</a></li>

  <li class="section">WEB PAGES</li>
  <li><a href="{{ site.baseurl }}/webs">Selected Web Pages</a></li>
  
</ul>