@import "variables"; // import general variables

/*
Base styles
*/

*{
	font-size: 13px;
	font-family: $font;
	outline: none;
}
html {
  scroll-behavior: smooth;
}
body{
	overflow-y: hidden;
}
a{
  color: black;
  }
a:hover{
	color: #ffffff;
	background: #000000;
	text-decoration: none;
}
b, strong{
	font-weight: bold;
}

// Menu
header{
	z-index: 10;
	margin:30px 25px 25px 25px;
	font-family: arial;
	position: fixed;
	top: 0px;
	width: 680px;
	height: 30px;
  section{
	  display: inline;
	  font-size: 14px;
	  padding: 7px;
    a {
      color: #000000;
      text-decoration: none;
    }
    a:hover{
	    color: #ffffff;
    	cursor: pointer;
	    background: #000000;
	    text-decoration: none;
    }
  }
  select{
    width: 200px;
    font-family: $font;
    font-size: 13px;
  }
}

#homebutton{
	font-weight: bold;
	padding-left: 0px;
	font-size:15px;
}

#project-link a:hover{
	color: #ffffff;
	background: #000000;
}

// Menu end

// Content
.content{
	z-index: 0;
  position:relative;
	top: 65px;
	font-family: arial;
	height:535px;
	padding: 25px;
	font-size:14px;
	padding-bottom: 20px;
	padding-top: 0px;
	white-space: nowrap;
  #blankspace{
  	width:25px !important;
  }
  img, iframe{
	  display: inline;
  }
  img:last-child{
	  margin-right: 25px !important;
  }

  .fix350{
    height: 350px;
  }
  .fix535{
    height: 535px;
  }

  .espacio45{ margin-right: 45px; }
	.espacio40{ margin-right: 40px; }
  .espacio35{ margin-right: 35px; }
  .espacio30{ margin-right: 30px; }
  .espacio25{ margin-right: 25px; }
	.espacio20{ margin-right: 20px; }
  .espacio15{ margin-right: 15px; }
	.espacio10{ margin-right: 10px; }

  .nohover:hover{
    background: transparent !important;
    color: black !important;
  }
}

#space{
  width: 25px; display: inline
}

// Content end


// Description
.description{
	z-index: 10;
	font-family: arial;
	font-size:13px;
	position: fixed;
	padding-left: 25px;
	width: 100%;
	line-height:1.3;
  h6{
  	display:inline;
	  font-weight:normal;
	  color:green;
	}
  a{
  	color:green;
  	text-decoration:underline;
	}
  a:hover{
  	color:#ffffff;
	}
}
// Description end

// Project selector

#selector{
	background: white;
	border: 1px solid rgb(170,170,170);
	position: fixed;
	top: 60px;
	left: -500px;
	width: 240px;
	height: calc(100% - 105px);
	padding: 10px;
	padding-top: 15px;
	overflow-y: scroll;
	-ms-overflow-style: none;  // IE 10+
	z-index: 200;
	font-size: 14px;
	@include transition(opacity 0.5 ease-in-out);
	li {
		list-style: none;
		margin-bottom: 7px;
		margin-left: 0px;
		font-size: 13px;
	}
	li.section {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0px;
		font-weight: bold;
	}
	li.section:first-child{
		margin-top: 0px;
	}
	li:last-child{
		margin-bottom: 15px;
	}

	hr{
		border: 0;
		height: 1px;
		background: black;
	}
}
// Contact window
#contact{
	width: 155px;
	height: 180px;
	position: fixed;
	left: 233px;
	top: -500px;
	z-index: 16;
	margin: auto;
	padding: 10px;
	padding-top: 15px;
	background: white;
	border: 1px solid rgb(170,170,170);
	font-size: 13px;
	line-height: 1.3em;
  @include transition(opacity 0.5 ease-in-out);
  a:hover{
    cursor:pointer;
  }
  .icon{
  	margin-right: 3px !important;
  	background: transparent !important;
  	width: 15px !important;
  	height: 15px !important;
  }
  .icon:hover{
  	background: transparent !important;
  }
  span a img {
    margin-right: 3px !important;
    width: 15px !important;
    height: 15px !important;
  }
  .social{
    margin-top: 5px;
  }
  .close img{
  	position:absolute;
	  width: 20px;
	  height: 20px;
	  margin-right: 0px !important;
	  right: 7px;
	  top: 5px;
  }
}

#issuu{
	margin-left: 15px !important;
}

#back{
	width: 100%;
	height: 100%;
	z-index: 14;
	visibility: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	background: white;
	opacity: 0;
  @include transition(opacity 0.5 ease-in-out);
}
// Contact end

// Cookies
#barraaceptacion{
	z-index: 5;
	font-size: 13px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
	font-family: arial !important;
}

// Scroll

.scroll{
	position: fixed;
	top: -500px;
	width: 24px;
	height: 43px;
	z-index: 15;
	visibility: hidden;
	background-color: red;
}

.scroll:hover{
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


#leftscroll{
	left: 10px;
	background: url(/assets/img/icons/left.svg);
}

#rightscroll{
	right: 10px;
	background:url(/assets/img/icons/right.svg);
}

html.touch .scroll{ display: none;}
// Scroll end
