---
layout: post
title: Artur Barrio
image_path: /projects/artur-barrio
footer: '<strong>CentroCentro, Palacio de Cibeles de Madrid</strong>&nbsp; 2012<br><strong><em>7 (im-)Pertinentes</em></strong>. Exhibition Visual Identity and graphics'
style: '.content img{vertical-align:top;}
'
---
<img src="{% include image_path.html %}/Artur-Barrio-01.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-02.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-04.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-05.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-06.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-07.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-08.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-09.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-10.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-11.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-12.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-13.jpg" class="fix535">
