---
layout: post
title: Thomas Florschuetz. Assembly
image_path: /projects/thomas-florschuetz
footer: '<strong>Museum Wiesbaden  Hatje Cantz Verlag</strong> 2013<br><strong><em>Thomas Florschuetz. Assembly</em></strong>. Book, 144 pages, 29,5x24,5 cm'
style: 'body{background-color: #a5a5a5;}x'
---
<iframe src="//player.vimeo.com/video/114121781?title=0[content]amp;byline=0[content]amp;portrait=0[content]amp;color=ffffff[content]amp;autoplay=1[content]amp;loop=1" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30" ></iframe>

<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-1.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-2.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-3.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-4.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-5.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-6.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-7.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-8.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-10.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-9.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-11.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-12.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-13.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-14.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-15.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-16.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-17.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-18.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-19.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-20.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-21.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-22.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-23.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-24.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Assembly-25.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/Assembly-26.jpg">

