---
layout: post
title: Cine por mujeres
image_path: /projects/cine-por-mujeres
footer: '<p><strong>Limbo Producciones </strong>2018-2019<br />  <strong><em>Cine por mujeres.</em></strong> Films made by women. International Film Festival <br />Visual identity, poster, web, brochure, festival video teaser and social media animations'

---
<img class="fix535" src="{% include image_path.html %}/Brandonclip.gif">

<img class="fix535 espacio30" src="{% include image_path.html %}/Logoanimation.gif">

<img class="fix535 espacio30" src="{% include image_path.html %}/CartelCPM.png">

<img class="fix535 espacio30" src="{% include image_path.html %}/folleto-cinepormujeres-1.jpg" class="fix535 espacio30">

<img class="fix535 espacio30" src="{% include image_path.html %}/LonaCBB.jpg">

<iframe src="https://player.vimeo.com/video/350693870?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="322" height="535" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

<iframe src="https://player.vimeo.com/video/310297437?title=0&byline=0&portrait=0" width="952" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>

<iframe src="https://player.vimeo.com/video/331772582?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="420" height="535" frameborder="0" allow="autoplay; fullscreen" allowfullscreen class="espacio0"></iframe>


<iframe src="https://player.vimeo.com/video/331580546?autoplay=1&loop=1" width="420" height="535" frameborder="0" allow="autoplay; fullscreen" allowfullscreen class="espacio30"></iframe>


<iframe src="https://player.vimeo.com/video/331548722?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="951" height="535" frameborder="0" allow="autoplay; fullscreen" allowfullscreen class="espacio30"></iframe>

<img class="fix535 espacio30" src="{% include image_path.html %}/CPMtotebag.png">
