---
layout: post_old
title: Pilar Albarracín
image_path: /projects/pilar-albarracin
footer: '<strong>Junta de Andalucia Cultural Department</strong> &nbsp;2004 <br><strong><em>Pilar Albarracín</em>.</strong>. Exhibition catalogue, 176 pages, 17x24 cm'
---
<img src="{% include image_path.html %}/palbarracin-01.jpg">
<img src="{% include image_path.html %}/palbarracin-02.jpg">
<img src="{% include image_path.html %}/palbarracin-03.jpg">
<img src="{% include image_path.html %}/palbarracin-04.jpg">
<img src="{% include image_path.html %}/palbarracin-05.jpg">
<img src="{% include image_path.html %}/palbarracin-06.jpg">
<img src="{% include image_path.html %}/palbarracin-07.jpg">
