---
layout: post
title: Dark
image_path: /projects/dark
footer: '<strong>Torraspapel</strong> 2015<br /><strong>Dark.</strong> Concept and design for promotional object for new paper range<br />'
---
<img class="fix535 " src="{% include image_path.html %}/dark.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark2.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark3.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark4.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark5.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark6.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark7.jpg">
