---
layout: post_old
title: Museo Marco stand
image_path: /projects/museo-marco-stand
footer: '<strong>Marco, Museo de Arte contemporáneo de Vigo</strong>&nbsp; 2003&nbsp;<a href="/elvivero/museo-marco">visual identity</a> / <a href="/elvivero/museo-marco-launch">launch</a> / <a href="/elvivero/museo-marco-stationary">stationary</a> / <h6>tradestand</h6><br />Design of the tradestand for the presentation of the Museum at Arco Contemporary Art Fair '
---
<img src="{% include image_path.html %}/museo-marco-stand-01.jpg">
<img src="{% include image_path.html %}/museo-marco-stand-02.jpg">
<img src="{% include image_path.html %}/museo-marco-stand-03.jpg">
<img src="{% include image_path.html %}/museo-marco-stand-04.jpg" class="espacio25">
