---
layout: post_old
title: Cine y casi cine. MNCARS
image_path: /projects/mncars-cine-y-casi-cine
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía</strong>&nbsp; 2000-2010&nbsp;   <a href="/projects/mncars-audiovisuales">Programs</a> <h6>/ Brochures 1,</h6> <a href="/projects/mncars-sesiones-animadas">2,</a> <a href="/projects/mncars-no-performances">3,</a> <a href="/projects/mncars-amor">4,</a> <a href="/projects/mncars-cine-y-casi-2007">5,</a> <a href="/projects/mncars-latinoamerica">6</a><br /><em><strong>Cine y casi cine,</strong></em> 48 pages, 17x24 cm. Anual festival'
style: 'body{background-color: #a5a5a5;}'
---
<img src="{% include image_path.html %}/cycc-01.jpg" class="espacio25">

<img src="{% include image_path.html %}/cycc-02.jpg">
<img src="{% include image_path.html %}/cycc-03.jpg" class="espacio25">

<img src="{% include image_path.html %}/cycc-04.jpg">
<img src="{% include image_path.html %}/cycc-05.jpg" class="espacio25">

<img src="{% include image_path.html %}/cycc-06.jpg">
<img src="{% include image_path.html %}/cycc-07.jpg" class="espacio25">

<img src="{% include image_path.html %}/cycc-08.jpg">
<img src="{% include image_path.html %}/cycc-09.jpg" class="espacio25">

<img src="{% include image_path.html %}/cycc-10.jpg">
<img src="{% include image_path.html %}/cycc-11.jpg" class="espacio25">

<img src="{% include image_path.html %}/cycc-12.jpg">
<img src="{% include image_path.html %}/cycc-13.jpg" class="espacio25">

<img src="{% include image_path.html %}/cycc-14.jpg">
<img src="{% include image_path.html %}/cycc-15.jpg" class="espacio25">
