---
layout: post_old
title: Samuel Beckett
image_path: /projects/samuel-beckett
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía</strong>&nbsp; 2006<br><em><strong>Samuel Beckett.</strong></em> Book, 96 pages, 17x24 cm'
---
<img src="{% include image_path.html %}/sbeckett-01.jpg">
<img src="{% include image_path.html %}/sbeckett-02.jpg">
<img src="{% include image_path.html %}/sbeckett-03.jpg">
<img src="{% include image_path.html %}/sbeckett-04.jpg">
<img src="{% include image_path.html %}/sbeckett-05.jpg">
<img src="{% include image_path.html %}/sbeckett-06.jpg">
<img src="{% include image_path.html %}/sbeckett-07.jpg">
<img src="{% include image_path.html %}/sbeckett-08.jpg">
