---
layout: post_old
title: Spanish representation at the Venice Biennale
image_path: /projects/bienal-venecia-es
footer: '<strong>Ministerio de Asuntos Exteriores / AECID / Seacex</strong><br><strong>Spanish representation at the Venice Biennale:</strong> 2009-2007-2005-2003<br>2009 Miquel Barceló. 2007 José Guerin, Los Torreznos, Manuel Vilariño, Rubén Ramos<br>Antoni Muntadas, 2005. Santiago Sierra  Bad Boys, 2003<br>Website, promotional elements, invitations and advertising'
style: 'body{background-color: #a5a5a5;}'
---
<img src="{% include image_path.html %}/barcelo.png" class="espacio45">

<img src="{% include image_path.html %}/paraiso.png">
<img src="{% include image_path.html %}/bienal-03.jpg">
<img src="{% include image_path.html %}/bienal-04.jpg">
<img src="{% include image_path.html %}/bienal-05.jpg">
<img src="{% include image_path.html %}/bienal-06.jpg">
<img src="{% include image_path.html %}/bienal-07.jpg" class="espacio45">


<img src="{% include image_path.html %}/muntadas.png">
<img src="{% include image_path.html %}/bienal-10.jpg">
<img src="{% include image_path.html %}/bienal-11.jpg">
<img src="{% include image_path.html %}/bienal-12.jpg">
<img src="{% include image_path.html %}/bienal-13.jpg">
<img src="{% include image_path.html %}/bienal-14.jpg" class="espacio45">

<img src="{% include image_path.html %}/santiago.png"class="espacio25">
<img src="{% include image_path.html %}/badboys.png"class="espacio25">
<img src="{% include image_path.html %}/bienal-16.jpg">
<img src="{% include image_path.html %}/bienal-17.jpg" class="espacio25">
