---
layout: post_old
title: Kineteca. MNCARS
image_path: /projects/mncars-kineteca
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía. Comunication department</strong>&nbsp; 2008-2010&nbsp;   <a href="/mncars-comunicacion">Advertising /</a> <a href="/mncars-actividades">Postcards</a> /<h6>Kineteca</h6> /<a href="/mncars-alia-syed">Alia Syed</a><br /><em><strong>Kineteca</strong></em>, brochure, 56x48 cm'
---
<img src="{% include image_path.html %}/kineteca01.jpg">
<img src="{% include image_path.html %}/kineteca02.jpg">
<img src="{% include image_path.html %}/kineteca03.jpg">
<img src="{% include image_path.html %}/kineteca04.jpg">
