---
layout: post
title: Ono
image_path: /projects/ono
footer: '<strong>Ono, Telephone, internet and cable television services provider, </strong> 2004 <br>Interior design, flagship stores in Valencia  Castellón'
style: '.content img{
	display: inline;
}
.content img{
	vertical-align:top;
}
.content{
	margin-top: 65px;
	font-family: arial;
	height:300px;
	padding: 25px;
	font-size:14px;
	padding-bottom: 20px;
	padding-top: 0px;
	white-space: nowrap;
}
'
---
<img src="{% include image_path.html %}/ono-1.jpg">
<img src="{% include image_path.html %}/ono-2.jpg">
<img src="{% include image_path.html %}/ono-3.jpg">
<img src="{% include image_path.html %}/ono-4.jpg">
<img src="{% include image_path.html %}/ono-5.jpg">
<img src="{% include image_path.html %}/ono-6.jpg">
<img src="{% include image_path.html %}/ono-7.jpg">
<img src="{% include image_path.html %}/ono-8.jpg">

<iframe src="//player.vimeo.com/video/112489816?title=0[content]amp;byline=0[content]amp;portrait=0[content]amp;color=ffffff" width="399" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

