---
layout: post
title: 7 impertinentes
image_path: /projects/7-impertinentes
footer: '<strong>CentroCentro, Ayuntamiento de Madrid</strong>&nbsp; 2013<br><strong><em>7 (im-)Pertinentes</em></strong>. Exhibition graphics, brochure & communication design'
---
<img src="{% include image_path.html %}/7impertinentes9.jpg">
<img src="{% include image_path.html %}/7impertinentes4.jpg">
<img src="{% include image_path.html %}/7impertinentes5.jpg">
<img src="{% include image_path.html %}/7impertinentes6.jpg">
<img src="{% include image_path.html %}/7impertinentes7.jpg">
<img src="{% include image_path.html %}/7impertinentes8.jpg">
<img src="{% include image_path.html %}/7impertinentes.jpg" class="espacio30">

<img src="{% include image_path.html %}/7impertinentes-b.jpg" class="espacio15">
<img src="{% include image_path.html %}/7impertinentes-b2.jpg"class="espacio15">
<img src="{% include image_path.html %}/7impertinentes-b3.jpg"class="espacio15">
<img src="{% include image_path.html %}/7impertinentes-b4.jpg"class="espacio15">
<img src="{% include image_path.html %}/7impertinentes-b5.jpg"class="espacio15">
<img src="{% include image_path.html %}/7impertinentes-b6.jpg"class="espacio30">
<img src="{% include image_path.html %}/7impertinentes-b8.jpg"class="espacio15">
<img src="{% include image_path.html %}/7impertinentes-b7.jpg">
