---
layout: post
title: Dark
image_path: /projects/dark
footer: '<strong>Torraspapel</strong> 2015<br /><strong>Dark.</strong> Concept and design for promotional object for new paper range<br />'
style: '.content img{
	display: inline;
}
.content{
	margin-top: 65px;
	font-family: arial;
	height:535px;
	padding: 25px;
	font-size:14px;
	padding-bottom: 20px;
	padding-top: 0px;
	white-space: nowrap;
}'
---
<img class="fix535 " src="{% include image_path.html %}/dark.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark2.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark3.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark4.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark5.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark6.jpg">
<img class="fix535 " src="{% include image_path.html %}/dark7.jpg">
