---
layout: post
title: Artur Barrio
image_path: /projects/artur-barrio
footer: '<strong>Museo Reina Sofía</strong>&nbsp; 2017-2018<br><strong><em>Artur Barrio</em></strong>. Exhibition and graphic design '
style: '.content img{vertical-align:top;}
'
---
<img src="{% include image_path.html %}/Artur-Barrio-01.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-04.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-05.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-06.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-07.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-08.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-11.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-09.jpg" class="fix535">
<img src="{% include image_path.html %}/Artur-Barrio-13.jpg" class="fix535 espacio25">
<img src="{% include image_path.html %}/ABrendering.jpg" class="fix535 espacio25">


<iframe src="https://player.vimeo.com/video/282710789?loop=1&title=0&byline=0&portrait=0" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>

<iframe src="https://player.vimeo.com/video/282715799?loop=1&title=0&byline=0&portrait=0" width="865" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>
