---
layout: post
title: Freshlatino 2
image_path: /projects/freshlatino2
footer: '<strong>Instituto Cervantes</strong> 2013-2015<br><em><strong>freshlatino 2.</strong></em> Iberoamerican experimental architecture platform<br />Visual identity, web, exhibition space and brochure design <br /><a href="http://cvc.cervantes.es/artes/freshlatino2" target="new">freshlatino2</a> '
style: '
body{background-color: #a5a5a5;}
'
---
<iframe src="https://player.vimeo.com/video/113272641?autoplay=1&title=0&byline=0&portrait=0" width="952" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen class="espacio30"></iframe>
<img class="fix535" src="{% include image_path.html %}/FreshL2-.jpg">
<img class="fix535" src="{% include image_path.html %}/FL2-2.gif">
<img class="fix535 espacio30" src="{% include image_path.html %}/FL2-3.png">

<img class="fix535" src="{% include image_path.html %}/decalogo2.gif">
<img class="fix535 espacio30" src="{% include image_path.html %}/FL2-19.gif">

<img src="{% include image_path.html %}/FL2-14.jpg">
<img src="{% include image_path.html %}/FL2-15.jpg">
<img src="{% include image_path.html %}/FL2-16.jpg" class="espacio30">

<iframe src="//player.vimeo.com/video/104604574?title=0[content]amp;byline=0[content]amp;portrait=0[content]amp;color=ffffff[content]amp;loop=1" width="952" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<img class="fix535" src="{% include image_path.html %}/FL2-23.png">

<iframe src="//player.vimeo.com/video/114240430?title=0[content]amp;byline=0[content]amp;portrait=0[content]amp;color=ffffff" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>

<img class="fix535 espacio30" src="{% include image_path.html %}/FL2-24.png">
<img src="{% include image_path.html %}/FL2-17.jpg">
<img class="fix535" src="{% include image_path.html %}/FL2-26.jpg">
<img class="fix535" src="{% include image_path.html %}/FL2-tshirt.png">
