---
layout: post_old
title: Acerca
image_path: /projects/acerca
footer: '<strong>AECID, Ministerio de Asuntos Exteriores</strong>&nbsp; 2005-2009 <br><strong>Programa Acerca.</strong> Annual reports'
---
<img src="{% include image_path.html %}/acerca-01.jpg">
<img src="{% include image_path.html %}/acerca-02.jpg">
<img src="{% include image_path.html %}/acerca-03.jpg">
<img src="{% include image_path.html %}/acerca-04.jpg">
<img src="{% include image_path.html %}/acerca-05.jpg">
<img src="{% include image_path.html %}/acerca-06.jpg">
