---
layout: post_old
title: Darío Basso
image_path: /projects/dario-basso
footer: '<strong>SEACEX, Spain´s State Corporation for Overseas Cultural Action</strong>&nbsp; 2004&nbsp;<br /><em><strong>Darío Basso.</strong></em> Catalogue, 152 pág, 28x29 cm'
style: 'body{background-color: #a5a5a5;}'
---
<img src="{% include image_path.html %}/dario-basso-01.jpg">
<img src="{% include image_path.html %}/dario-basso-02.jpg">
<img src="{% include image_path.html %}/dario-basso-03.jpg">
<img src="{% include image_path.html %}/dario-basso-04.jpg">
<img src="{% include image_path.html %}/dario-basso-05.jpg">
<img src="{% include image_path.html %}/dario-basso-06.jpg">
<img src="{% include image_path.html %}/dario-basso-07.jpg">
<img src="{% include image_path.html %}/dario-basso-08.jpg" class="espacio25">
