---
layout: post
title: Extremadura es Cultura
image_path: /projects/extremadura-es-cultura
footer: '<strong>Gobex, Gobierno de Extremadura </strong> 2013-2014<br>E<strong><em>xtremadura es Cultura</em></strong>. Brand design and visual identity<br />Exhibition space design: Berlin - Lisboa - Brussels. Trade fair stand design ai Xian, China. Brochure design '
style: 'x'
---
<iframe src="//player.vimeo.com/video/112303320?byline=0[content]amp;portrait=0[content]amp;color=ffffff" width="950" height="534" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30" ></iframe>
<iframe src="//player.vimeo.com/video/112311221?byline=0[content]amp;portrait=0[content]amp;color=ffffff" width="950" height="534" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30" ></iframe>





<img src="{% include image_path.html %}/ec.jpg" />
<img src="{% include image_path.html %}/ec2.jpg" />
<img src="{% include image_path.html %}/ec3.jpg" />
<img src="{% include image_path.html %}/ec4.jpg" />
<img src="{% include image_path.html %}/ec5.jpg" />
<img src="{% include image_path.html %}/ec6.jpg" />
<img src="{% include image_path.html %}/ec7.jpg" />
<img src="{% include image_path.html %}/ec8.jpg" />
<img src="{% include image_path.html %}/ec9.jpg" />
<img src="{% include image_path.html %}/ec10.jpg" />
<img src="{% include image_path.html %}/ec11.jpg" />
<img src="{% include image_path.html %}/ec12.jpg" />
<img src="{% include image_path.html %}/ec13.jpg" />

<img src="{% include image_path.html %}/extrecult.jpg" />
<img src="{% include image_path.html %}/extrecult2.jpg" />
<img src="{% include image_path.html %}/extrecult3.jpg" />

<img src="{% include image_path.html %}/extremaduracultura.jpg" />

