---
layout: post_old
title: Idealista
image_path: /projects/idealista
footer: '<strong>Idealista</strong> <br>Trade fair stands 2002-2004'
---
<img src="{% include image_path.html %}/idealista-01.jpg">
<img src="{% include image_path.html %}/idealista-02.jpg">
<img src="{% include image_path.html %}/idealista-03.jpg">
<img src="{% include image_path.html %}/idealista-04.jpg" class="espacio25">

<img src="{% include image_path.html %}/idealista-05.jpg">
<img src="{% include image_path.html %}/idealista-06.jpg" class="espacio25">
