---
layout: post_old
title: Líneas de mira
image_path: /projects/lineas-de-mira
footer: '<strong>Centro Atlántico de Arte Moderno</strong>&nbsp; 2007 <br><strong><em>Líneas de mira.</em></strong> Book, 112 pages, 17x24 cm'
---
<img src="{% include image_path.html %}/ldm-01.jpg">
<img src="{% include image_path.html %}/ldm-02.jpg">
<img src="{% include image_path.html %}/ldm-03.jpg">
<img src="{% include image_path.html %}/ldm-04.jpg">
<img src="{% include image_path.html %}/ldm-05.jpg">
<img src="{% include image_path.html %}/ldm-06.jpg">
<img src="{% include image_path.html %}/ldm-07.jpg">
<img src="{% include image_path.html %}/ldm-08.jpg">
<img src="{% include image_path.html %}/ldm-09.jpg" class="espacio25">
