---
layout: post_old
title: Isabel María. Meiac
image_path: /projects/meiac-isabel-maria
footer: '<strong>MEIAC, Museo Extremeño e iberoamericano de Arte Contemporáneo</strong>&nbsp; 2006&nbsp; <h6>PLP01</h6> / <a href="/meiac-maite-cajaraville">PLP02</a> / <a href="/meiac-manuel-vilches">PLP03</a> / <a href="meiac-alonso-gil">PLP04</a> / <a href="/meiac-ivan-marino">PLP05</a> / <a href="/meiac-gustavo-romano">PLP06</a> / <a href="/meiac-joana-pimentel">PLP07</a> / <a href="/meiac-marta-y-publio">PLP08 </a>/ <a href="/meiac-marta-de-menezes">PLP09</a><br /><strong>Isabel María,<em> The Face and The Face.</em></strong> Catalogue, 110 pages, 15x21 cm. Post Local Projects 01'
---
<img src="{% include image_path.html %}/isabel-maria-plp01-01.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-02.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-03.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-04.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-05.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-06.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-07.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-08.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-09.jpg">
<img src="{% include image_path.html %}/isabel-maria-plp01-10.jpg">
