---
layout: post_old
title: Gustavo Romano. Meiac
image_path: /projects/meiac-gustavo-romano
footer: '<strong>MEIAC, Museo Extremeño e iberoamericano de Arte Contemporáneo</strong>&nbsp; 2007&nbsp; <a href="/projects/meiac-isabel-maria">PLP01</a> / <a href="/projects/meiac-maite-cajaraville">PLP02</a> / <a href="/projects/meiac-manuel-vilches">PLP03</a> / <a href="/projects/meiac-alonso-gil">PLP04</a> / <a href="/projects/meiac-ivan-marino">PLP05</a> / <h6>PLP06</h6> / <a href="/projects/meiac-joana-pimentel">PLP07</a> / <a href="/projects/meiac-marta-y-publio">PLP08 </a>/ <a href="/projects/meiac-marta-de-menezes">PLP09</a><br /><strong>Gutavo Romano, <em>IP Poetry.</em></strong> Catalogue, 160 pages, 15x21 cm. Post Local Projects 06'
---
<img src="{% include image_path.html %}/gustavo-romano-plp06-01.jpg">
<img src="{% include image_path.html %}/gustavo-romano-plp06-02.jpg">
<img src="{% include image_path.html %}/gustavo-romano-plp06-03.jpg">
<img src="{% include image_path.html %}/gustavo-romano-plp06-04.jpg">
<img src="{% include image_path.html %}/gustavo-romano-plp06-05.jpg">
<img src="{% include image_path.html %}/gustavo-romano-plp06-06.jpg">
<img src="{% include image_path.html %}/gustavo-romano-plp06-07.jpg">
