---
layout: post
title: de 11 a 21, n.1. CAAC
image_path: /projects/de11a21-n1
footer: '<strong>CAAC, Centro Andaluz de Arte Contemporáneo</strong>&nbsp; 2011&nbsp; <a href="{{ site.baseurl }}/projects/de11a21">n.0</a> /<h6>n.1</h6> /<a href="{{ site.baseurl }}/projects/de11a21-n2">n.2</a><br><strong><em>de 11 a 21.</em></strong> Issue 1, On the Political Constitution of the Present <br />Magazine, 128 pages, 19,5x25 cm'
style: 'x'
---
<img src="{% include image_path.html %}/11a21-n1-01.jpg">
<img src="{% include image_path.html %}/11a21-n1-02.jpg">
<img src="{% include image_path.html %}/11a21-n1-03.jpg">
<img src="{% include image_path.html %}/11a21-n1-04.jpg">
<img src="{% include image_path.html %}/11a21-n1-05.jpg">
<img src="{% include image_path.html %}/11a21-n1-06.jpg">
<img src="{% include image_path.html %}/11a21-n1-07.jpg">
<img src="{% include image_path.html %}/11a21-n1-08.jpg">
<img src="{% include image_path.html %}/11a21-n1-09.jpg">
<img src="{% include image_path.html %}/11a21-n1-10.jpg">
<img src="{% include image_path.html %}/11a21-n1-11.jpg">
<img src="{% include image_path.html %}/11a21-n1-12.jpg">
<img src="{% include image_path.html %}/11a21-n1-13.jpg">
<img src="{% include image_path.html %}/11a21-n1-14.jpg">
<img src="{% include image_path.html %}/11a21-n1-15.jpg">
