---
layout: post_old
title: Iván Marino. Meiac
image_path: /projects/meiac-ivan-marino
footer: '<strong>MEIAC, Museo Extremeño e iberoamericano de Arte Contemporáneo</strong>&nbsp; 2007&nbsp; <a href="/elvivero/meiac-isabel-maria">PLP01</a> / <a href="/elvivero/meiac-maite-cajaraville">PLP02</a> / <a href="/elvivero/meiac-manuel-vilches">PLP03</a> / <a href="/elvivero/meiac-alonso-gil">PLP04</a> / <h6>PLP05</h6> / <a href="/elvivero/meiac-gustavo-romano">PLP06</a> / <a href="/elvivero/meiac-joana-pimentel">PLP07</a> / <a href="/elvivero/meiac-marta-y-publio">PLP08 </a>/ <a href="/elvivero/meiac-marta-de-menezes">PLP09</a><br /><strong>Iván Marino, <em>Los desastres.</em></strong> Catalogue, 130 pages, 15x21 cm. Post Local Projects 05'
---
<img src="{% include image_path.html %}/ivan-marino-plp05_01.jpg">
<img src="{% include image_path.html %}/ivan-marino-plp05_02.jpg">
<img src="{% include image_path.html %}/ivan-marino-plp05_03.jpg">
<img src="{% include image_path.html %}/ivan-marino-plp05_04.jpg">
<img src="{% include image_path.html %}/ivan-marino-plp05_05.jpg">
<img src="{% include image_path.html %}/ivan-marino-plp05_06.jpg">
<img src="{% include image_path.html %}/ivan-marino-plp05_07.jpg">
