---
layout: post
title: de 11 a 21. CAAC
image_path: "/projects/de11a21"
footer: '<strong>CAAC, Centro Andaluz de Arte Contemporáneo</strong>&nbsp; 2011&nbsp; <h6>n.0</h6> / <a href="/projects/de11a21-n1">n.1</a> /<a href="/projects/de11a21-n2">n.2</a><br><strong><em>de 11 to 21.</em></strong> Issue 0. On the position of the spectator in contemporary visual culture<br />Magazine, 112 pages, 19,5x25 cm'
---
<img src="{% include image_path.html %}/11a21-01.jpg">
<img src="{% include image_path.html %}/11a21-02.jpg">
<img src="{% include image_path.html %}/11a21-03.jpg">
<img src="{% include image_path.html %}/11a21-04.jpg">
<img src="{% include image_path.html %}/11a21-05.jpg">
<img src="{% include image_path.html %}/11a21-06.jpg">
<img src="{% include image_path.html %}/11a21-07.jpg">
<img src="{% include image_path.html %}/11a21-08.jpg">
<img src="{% include image_path.html %}/11a21-09.jpg">
<img src="{% include image_path.html %}/11a21-10.jpg">
<img src="{% include image_path.html %}/11a21-11.jpg">
<img src="{% include image_path.html %}/11a21-12.jpg">
<img src="{% include image_path.html %}/11a21-13.jpg">