---
layout: post
title: Inventario 12. El estatus del artista
image_path: /projects/inventario
footer: '<strong>AVAM, Artistas Visuales Asociados de Madrid</strong>&nbsp; 2006<br><strong><em>Inventario 12. El estatus del artista.</em></strong> Book, 192 pages, 17x24 cm'

---
<img src="{% include image_path.html %}/inventario-01.jpg">
<img src="{% include image_path.html %}/inventario-03.jpg">
<img src="{% include image_path.html %}/inventario-04.jpg">
<img src="{% include image_path.html %}/inventario-05.jpg">
<img src="{% include image_path.html %}/Inventario-07.jpg" class="espacio25">

