---
layout: post_old
title: Madritel
image_path: /projects/madritel
footer: "<strong>Madritel. Telephone, internet and cable television services provider</strong> &nbsp;2003 <br><strong><em>La casa de las palabras.</em></strong> Exhibition design at Madrid's book fair<br>Covering of the standard fair tent with translucent canvas. Isolated circular space for the projection of words and sounds"
---
<img src="{% include image_path.html %}/madritel-1.jpg">
<img src="{% include image_path.html %}/madritel-2.jpg">
