---
layout: post_old
title: Actividades. MNCARS
image_path: /projects/mncars-actividades
footer: '<strong>Museo Reina Sofía. Comunication department</strong>&nbsp; 2008-2010&nbsp;   <a href="/mncars-comunicacion">Advertising /</a> <h6>Postcards</h6> /<a href="/mncars-kineteca">Kineteca</a> /<a href="/mncars-alia-syed">Alia Syed</a><br />Public Activities mailing postcards 13x18 cm'
style: 'body{background-color: #a5a5a5;}'
---
<img src="{% include image_path.html %}/01-zoe-leonard.jpg" class="espacio25">
<img src="{% include image_path.html %}/02-garcia-alix.jpg" class="espacio25">
<img src="{% include image_path.html %}/03-deimantas-narkevicius.jpg" class="espacio25">
<img src="{% include image_path.html %}/04-maquinas-afectos.jpg" class="espacio25">
<img src="{% include image_path.html %}/05-carl-einstein.jpg" class="espacio25">
<img src="{% include image_path.html %}/06-fragmentos-este.jpg" class="espacio25">
<img src="{% include image_path.html %}/07-lugar-bajo-el-sol.jpg" class="espacio25">
<img src="{% include image_path.html %}/08-retratos.jpg" class="espacio25">
<img src="{% include image_path.html %}/09-mudanza.jpg" class="espacio25">
<img src="{% include image_path.html %}/10-objetos-discordia.jpg" class="espacio25">
<img src="{% include image_path.html %}/11-nancy-spero.jpg" class="espacio25">
<img src="{% include image_path.html %}/12-david-harvey.jpg" class="espacio25">
<img src="{% include image_path.html %}/13-mike-davis.jpg" class="espacio25">
