---
layout: post_old
title: Jack Smith
image_path: /projects/jack-smith
footer: '<strong>Museo Reina Sofía</strong>&nbsp; 2008 <br><strong><em>Jack Smith.</em></strong> Catalogue, 84 pages, 17x24 cm'
---
<img src="{% include image_path.html %}/jacksmith-01.jpg">
<img src="{% include image_path.html %}/jacksmith-02.jpg">
<img src="{% include image_path.html %}/jacksmith-03.jpg">
<img src="{% include image_path.html %}/jacksmith-04.jpg">
<img src="{% include image_path.html %}/jacksmith-05.jpg">
<img src="{% include image_path.html %}/jacksmith-06.jpg">
<img src="{% include image_path.html %}/jacksmith-07.jpg">
<img src="{% include image_path.html %}/jacksmith-08.jpg">
<img src="{% include image_path.html %}/jacksmith-09.jpg">
