---
layout: post
title: Leandro Katz
image_path: /projects/leandro-katz
footer: '<p><strong>Tabacalera Promoción del Arte. Ministerio de Educación, Cultura y Deporte</strong> 2017<br />  <em><strong>Leandro Katz. El rastro de la gaviota.</strong></em> Exhibition and graphic design. Book, 160 pages. 17x24 cm<br />  Exhibition images cortesy of Ministerio de Educación, Cultura y Deporte. Photos Andrés Arranz</p><p>&nbsp;</p>'
style: '
body{background-color: #a5a5a5;}
'
---


<iframe src="https://player.vimeo.com/video/207621467?title=0[content]byline=0[content]portrait=0" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>


<img class="fix535" src="{% include image_path.html %}/tabacaleraLK.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/planosexpo.gif">

<iframe src="https://player.vimeo.com/video/214820579?title=0[content]byline=0[content]portrait=0" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>

<img class="fix535" src="{% include image_path.html %}/lk-banderola2.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/lk-banderola.jpg">
<img class="fix535" src="{% include image_path.html %}/lk.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/lk2.jpg">

<img class="fix535" src="{% include image_path.html %}/lk3.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/lk5-1b.jpg">

<img class="fix535 espacio30" src="{% include image_path.html %}/lk5-c.jpg">


<iframe src="https://player.vimeo.com/video/207815864?title=0[content]byline=0[content]portrait=0" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen class="espacio30"></iframe>

