---
layout: post_old
title: Primera Generación
image_path: /projects/primera-generacion
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía</strong>&nbsp; 2006<br><strong><em>First Generation. Art and Moving Images.</em></strong> Book, 428 pages, 19x25 cm'
---
<img src="{% include image_path.html %}/firstg-01.jpg">
<img src="{% include image_path.html %}/firstg-02.jpg">
<img src="{% include image_path.html %}/firstg-03.jpg">
<img src="{% include image_path.html %}/firstg-04.jpg">
<img src="{% include image_path.html %}/firstg-05.jpg">
<img src="{% include image_path.html %}/firstg-06.jpg">
<img src="{% include image_path.html %}/firstg-07.jpg">
<img src="{% include image_path.html %}/firstg-08.jpg">
<img src="{% include image_path.html %}/firstg-09.jpg">
<img src="{% include image_path.html %}/firstg-10.jpg">
<img src="{% include image_path.html %}/firstg-11.jpg" class="espacio25">
