---
layout: post_old
title: Alonso Gil. Meiac
image_path: /projects/meiac-alonso-gil
footer: '<strong>MEIAC, Museo Extremeño e iberoamericano de Arte Contemporáneo</strong>&nbsp; 2007&nbsp; <a href="/meiac-isabel-maria">PLP01</a> / <a href="/meiac-maite-cajaraville">PLP02</a> / <a href="/meiac-manuel-vilches">PLP03</a> / <h6>PLP04</h6> / <a href="/meiac-ivan-marino">PLP05</a> / <a href="/meiac-gustavo-romano">PLP06</a> / <a href="/meiac-joana-pimentel">PLP07</a> / <a href="/meiac-marta-y-publio">PLP08 </a>/ <a href="/meiac-marta-de-menezes">PLP09</a><br /><strong>Alonso Gil, <em>La celda grande.</em></strong> Catalogue, 176 pages, 15x21 cm. Post Local Projects 04'
---
<img src="{% include image_path.html %}/alonso-gil-plp04_01.jpg">
<img src="{% include image_path.html %}/alonso-gil-plp04_02.jpg">
<img src="{% include image_path.html %}/alonso-gil-plp04_03.jpg">
<img src="{% include image_path.html %}/alonso-gil-plp04_04.jpg">
<img src="{% include image_path.html %}/alonso-gil-plp04_05.jpg">
<img src="{% include image_path.html %}/alonso-gil-plp04_06.jpg">
<img src="{% include image_path.html %}/alonso-gil-plp04_07.jpg">
<img src="{% include image_path.html %}/alonso-gil-plp04_08.jpg">
