---
layout: post
title: Centro Federico García Lorca
image_path: /projects/centro-federico-garcia-lorca
footer: '<strong>Centro Federico García Lorca, Granada</strong> 2010-2015<br>Brand identity creation and development<br />Winner of international competition in 2010'

---
<img class="fix535" src="{% include image_path_local.html %}/cfgl-f.gif">
<img class="fix535 espacio30" src="{% include image_path_local.html %}/cfgl-f2.gif">

<img class="fix535" src="{% include image_path.html %}/cfgl-b.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/cfgl-f4.jpg">

<iframe src="https://player.vimeo.com/video/218118680?autoplay=1[content]title=0[content]byline=0[content]portrait=0" width="770" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


<img class="fix535" src="{% include image_path.html %}/papeleriacfgl.jpg">




<img class="fix535 espacio30" src="{% include image_path.html %}/cfgl-ff.jpg">

<img class="fix535" src="{% include image_path.html %}/cfgl-ff2.jpg">
<img class="fix535" src="{% include image_path.html %}/cfgl-ff3.jpg">
<img class="fix535" src="{% include image_path.html %}/cfgl-ff4.jpg">
<img class="fix535" src="{% include image_path.html %}/cfgl-ff5.jpg">
<img class="fix535" src="{% include image_path.html %}/cfgl-ff6.jpg">
<img class="fix535" src="{% include image_path.html %}/cfgl-ff7.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/cfgl-ff8.jpg">



<img class="fix535" src="{% include image_path.html %}/cfgl-b2.jpg">
<img class="fix535  espacio30" src="{% include image_path.html %}/cfgl-b3.jpg">
<img class="fix535" src="{% include image_path.html %}/cfgl-b4.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/cfgl-b5.jpg">

<img class="fix535" src="{% include image_path.html %}/cfgl-ff9.jpg">








