---
layout: post_old
title: Eclèctic festival
image_path: /projects/eclectic
footer: '<strong>Ciudad de las Artes y de las Ciencias de Valencia</strong> 2004 <br><em><strong>Eclèctic Music Festival.</strong></em> Visual identity, website, leaflets, posters, banners and advertising'
style: '.content img{vertical-align:top;}'
---
<iframe src="//player.vimeo.com/video/112413317?title=0[content]amp;byline=0[content]amp;portrait=0[content]amp;color=ffffff[content]amp;autoplay=1[content]amp;loop=1" width="467" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio" ></iframe>
<iframe src="//player.vimeo.com/video/112411041?title=0[content]amp;byline=0[content]amp;portrait=0[content]amp;color=ffffff[content]amp;autoplay=1[content]amp;loop=1" width="467" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>


<img src="{% include image_path.html %}/eclectic-05.jpg">
<img src="{% include image_path.html %}/extrecult-b6.jpg">
<img src="{% include image_path.html %}/extrecult-b2.jpg">
<img src="{% include image_path.html %}/extrecult-b.jpg">
<img src="{% include image_path.html %}/extrecult-b5.jpg">
<img src="{% include image_path.html %}/eclectic-04.jpg">
<img src="{% include image_path.html %}/extrecult-b3.jpg">
<img src="{% include image_path.html %}/extrecult-b4.jpg">

<img src="{% include image_path.html %}/eclectic-03.jpg">

<img src="{% include image_path.html %}/extrecult-b8.jpg">
<img src="{% include image_path.html %}/extrecult-b9.jpg">
<img src="{% include image_path.html %}/extrecult-b7.jpg">
<img src="{% include image_path.html %}/eclectic-07.jpg">
