---
layout: post_old
title: ARCO 25th anniversary
image_path: /projects/arco
footer: '<strong>ARCO, Feria internacional de Arte Contemporáneo</strong>&nbsp; 2006<br><strong><em>25th Anniversary. A Retrospective.</em></strong> Magazine, 228 pages, 23,5x32 cm'
---
<img src="{% include image_path.html %}/arco-01.jpg">
<img src="{% include image_path.html %}/arco-02.jpg">
<img src="{% include image_path.html %}/arco-03.jpg">
<img src="{% include image_path.html %}/arco-04.jpg">
<img src="{% include image_path.html %}/arco-05.jpg">
<img src="{% include image_path.html %}/arco-06.jpg">
<img src="{% include image_path.html %}/arco-07.jpg">
<img src="{% include image_path.html %}/arco-08.jpg">
<img src="{% include image_path.html %}/arco-09.jpg">
<img src="{% include image_path.html %}/arco-10.jpg">
<img src="{% include image_path.html %}/arco-11.jpg">
<img src="{% include image_path.html %}/arco-12.jpg" class="espacio25">
