---
layout: post
title: Buen Día
image_path: /projects/buen-dia
footer: '<strong>Buen Día</strong><br>Gift and souvenir objects inspired by the customs, sympathy and sense of humor that are characteristic of the Spanish culture'
---
<img src="{% include image_path.html %}/buendia-01.jpg">
<img src="{% include image_path.html %}/buendia-02.jpg">
<img src="{% include image_path.html %}/buendia-03.jpg">
<img src="{% include image_path.html %}/buendia-04.jpg">
<img src="{% include image_path.html %}/buendia-05.jpg">
