---
layout: post_old
title: Tempo(s). Meiac
image_path: /projects/tempos
footer: '<strong>MEIAC, Museo Extremeño e iberoamericano de Arte Contemporáneo</strong>&nbsp; 2009 <br><strong><em>Tempo(s)</em>.</strong> Folded brochure, 15x21 cm'
---
<img src="{% include image_path.html %}/tempos-01.jpg">
<img src="{% include image_path.html %}/tempos-02.jpg">
<img src="{% include image_path.html %}/tempos-03.jpg">
<img src="{% include image_path.html %}/tempos-04.jpg">
<img src="{% include image_path.html %}/tempos-05.jpg">
<img src="{% include image_path.html %}/tempos-06.jpg">
