---
layout: post
title: Visionarios Latinoamérica. MNCARS
image_path: /projects/mncars-latinoamerica
footer: '<strong>Museo Reina Sofía</strong>&nbsp; 2000-2010&nbsp;   <a href="/mncars-audiovisuales">Programs</a><h6>/ Brochures</h6> <a href="/mncars-cine-y-casi-cine">1,</a><a href="/mncars-sesiones-animadas">2,</a><a href="/mncars-no-performances">3,</a><a href="/mncars-amor">4,</a><a href="/mncars-cine-y-casi-2007">5,</a><h6>6</h6><br /><em><strong>Visionarios. Audiovisual en Latinoamérica.</strong></em> 2009, 48 pages, 12x17 cm'
style: '.content img{
	display: inline;
}
.content{
	margin-top: 65px;
	font-family: arial;
	height:300px;
	padding: 25px;
	font-size:14px;
	padding-bottom: 20px;
	padding-top: 0px;
	white-space: nowrap;
}
'
---
<img src="{% include image_path.html %}/visionarios-01.jpg">
<img src="{% include image_path.html %}/visionarios-02.jpg">
<img src="{% include image_path.html %}/visionarios-03.jpg">
<img src="{% include image_path.html %}/visionarios-04.jpg">
<img src="{% include image_path.html %}/visionarios-05.jpg">
<img src="{% include image_path.html %}/visionarios-06.jpg">
<img src="{% include image_path.html %}/visionarios-07.jpg">
<img src="{% include image_path.html %}/visionarios-08.jpg" class="espacio25">
