---
layout: post_old
title: Museo Marco
image_path: /projects/museo-marco
footer: '<strong>Marco, Museo de Arte contemporáneo de Vigo</strong>&nbsp; 2003&nbsp;<h6>visual identity</h6> / <a href="{{ site.baseurl }}/projects/museo-marco-launch">launch</a> / <a href="{{ site.baseurl }}/projects/museo-marco-stationary">stationary</a> / <a href="{{ site.baseurl }}/projects/museo-marco-stand">tradestand</a><br>Diseño de marca'
---
<img src="{% include image_path.html %}/marco-01.jpg">
<img src="{% include image_path.html %}/marco-02.jpg">
<img src="{% include image_path.html %}/marco-03.jpg">
<img src="{% include image_path.html %}/marco-04.jpg">
<img src="{% include image_path.html %}/marco-05.jpg">

<img class="fix350 espacio30" src="{% include image_path.html %}/marco-06.jpg">
<img class="fix350 espacio30" src="{% include image_path.html %}/Marcoweb.jpg">
<img class="fix350 espacio30" src="{% include image_path.html %}/Marcoweb2.jpg">
<img class="fix350 espacio30" src="{% include image_path.html %}/Marcoweb3.jpg">
<img class="fix350 espacio30" src="{% include image_path.html %}/Marcoweb4.jpg">