---
layout: post_old
title: Alia Syed. MNCARS
image_path: /projects/mncars-alia-syed
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía. Comunication department</strong>&nbsp; 2008-2010&nbsp;   <a href="/projects/mncars-comunicacion">Advertising /</a> <a href="/projects/mncars-actividades">Postcards</a> /<a href="/projects/mncars-kineteca">Kineteca</a> /<h6>Alia Syed</h6><br /><em><strong>Alia Syed,</strong></em> brochure, 15x21 cm'
---
<img src="{% include image_path.html %}/aliasyed01.jpg">
<img src="{% include image_path.html %}/aliasyed02.jpg">
<img src="{% include image_path.html %}/aliasyed03.jpg">
<img src="{% include image_path.html %}/aliasyed04.jpg">
<img src="{% include image_path.html %}/aliasyed05.jpg" class="espacio25">
