---
layout: post
title: architectus omnibus?
image_path: /projects/architectus-omnibus
footer: '<p><strong>Architectus Omnibus?</strong><br />  <strong>Instituto Cervantes / Goethe Institut </strong> 2014-2015<br />VI Spanish-German Culture Meeting. Berlín amp; Madrid <br />Visual identity, web, exhibition graphics, catalog, postcard and brochure design. <a href="http://architectusomnibus.org/" target="new">www.architectusomnibus.org</a>'
---
<img class="fix535" src="{% include image_path.html %}/ao.png">

<iframe src="https://player.vimeo.com/video/132423347?color=ffffff[content]title=0[content]byline=0[content]portrait=0" width="874" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class= "espacio30"></iframe>

<img class="fix535 espacio30" src="{% include image_path.html %}/ao-2.png">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-3.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-4.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-5.png">

<img class="fix535 espacio30" src="{% include image_path.html %}/ao-9.jpg">
<img class="fix535 espacio30 espacio30" src="{% include image_path.html %}/ao2.gif">

<img class="fix535 espacio30" src="{% include image_path.html %}/ao-interior.png">

<img class="fix535" src="{% include image_path.html %}/ao-6.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-7.jpg">

<img class="fix535 espacio30" src="{% include image_path.html %}/ao-8.jpg">

<img class="fix535 espacio0" src="{% include image_path.html %}/AO-fachada.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/AO-fachada-2.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/AO-fachada-3.jpg">



<img class="fix535 espacio30" src="{% include image_path.html %}/ao-pub-00.jpg">

<img class="fix535 espacio00" src="{% include image_path.html %}/ao-pub-01.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-pub-02.jpg">

<img class="fix535 espacio00" src="{% include image_path.html %}/ao-pub-03.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-pub-04.jpg">

<img class="fix535 espacio0" src="{% include image_path.html %}/ao-pub-05.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-pub-06.jpg">



<img class="fix535 espacio0" src="{% include image_path.html %}/ao-pub-09.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-pub-10.jpg">

<img class="fix535 espacio0" src="{% include image_path.html %}/ao-pub-11.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-pub-12.jpg">

<img class="fix535 espacio0" src="{% include image_path.html %}/ao-pub-13.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/ao-pub-14.jpg">

<img class="fix535 espacio30" src="{% include image_path.html %}/ao-pub-15.jpg">
