---
layout: post_old
title: Discoteca Flaming Star. CA2M
image_path: /projects/disco-flaming-star-ca2m
footer: '<strong>CA2M. Centro de arte 2 de mayo</strong>. 2008<br /><strong>Discoteca Flaming Star, <em>Mil Veras..</em>.</strong> Catalogue, 160 pages, 17x24 cm'
---
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-01.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-02.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-03.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-04.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-05.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-06.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-07.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-08.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-09.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-10.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-11.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-12.jpg">
<img src="{% include image_path.html %}/disco-flaming-star-ca2m-13.jpg">
