---
layout: post_old
title: Rafael Lozano Hemmer
image_path: /projects/rafael-lozano-hemmer
footer: '<strong>Mexico, 52 Biennale di Venezia</strong>&nbsp; 2007 <br><strong>Rafael Lozano-Hemmer, <em>Some things happen more often than all of the time.</em></strong> Book, 176 pages, 19x26 cm'
---
<img src="{% include image_path.html %}/rlh-01.jpg">
<img src="{% include image_path.html %}/rlh-02.jpg">
<img src="{% include image_path.html %}/rlh-03.jpg">
<img src="{% include image_path.html %}/rlh-04.jpg">
<img src="{% include image_path.html %}/rlh-05.jpg">
<img src="{% include image_path.html %}/rlh-06.jpg">
<img src="{% include image_path.html %}/rlh-07.jpg">
<img src="{% include image_path.html %}/rlh-08.jpg" class="espacio25">
