---
layout: post
title: Fluxus
image_path: /projects/fluxus
footer: '<strong>Museo Reina Sofía</strong>&nbsp; 2003<br><strong><em>Fluxus.</em></strong> Book, 344 pages, 17x24 cm'

---
<img src="{% include image_path.html %}/fluxus-01.jpg">
<img src="{% include image_path.html %}/fluxus-02.jpg">
<img src="{% include image_path.html %}/fluxus-03.jpg">
<img src="{% include image_path.html %}/fluxus-04.jpg">
<img src="{% include image_path.html %}/fluxus-05.jpg">
<img src="{% include image_path.html %}/fluxus-06.jpg">
<img src="{% include image_path.html %}/fluxus-07.jpg">
<img src="{% include image_path.html %}/fluxus-08.jpg" class="espacio25">
