---
layout: post
title: Bienal de Cartagena de Indias #1
image_path: /projects/biaci-1
footer: '<strong>Biaci. International Biennial of Contemporary Art. Cartagena de Indias, Colombia</strong> 2014<br><strong><em>#1</em></strong>. Book, 470 pages, 19,5x26 cm<br /><strong><em>GuideBook</em></strong>. Guide, 352 pages, 12x16,5 cm'
style: 'body{background-color: #a5a5a5;}x'
---
<iframe src="//player.vimeo.com/video/114124747?title=0[content]amp;byline=0[content]amp;portrait=0[content]amp;color=ffffff[content]amp;autoplay=1[content]amp;loop=1" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen  class="espacio30" ></iframe>

<iframe src="//player.vimeo.com/video/114123973?title=0[content]amp;byline=0[content]amp;portrait=0[content]amp;color=ffffff[content]amp;loop=1" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>


<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci17.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci18.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci23.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci32.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci36.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci42.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci54.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci58.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci62.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci126.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci162.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci180.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci214.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci232.jpg">
<img class="fix535 espacio0" src="{% include image_path.html %}/Biaci236.jpg">
