---
layout: post
title: LAX video and performance. Museo Reina Sofía
image_path: /projects/lax
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía</strong> 2010 <br><strong><em>LAX. Los Ángeles Films, Videos and Performances</em></strong>. 32 pages, 15x21 cm'
style: 'x'
---
<img src="{% include image_path.html %}/lax-01.jpg">
<img src="{% include image_path.html %}/lax-02.jpg">
<img src="{% include image_path.html %}/lax-03.jpg">
<img src="{% include image_path.html %}/lax-04.jpg">
<img src="{% include image_path.html %}/lax-05.jpg">
<img src="{% include image_path.html %}/lax-06.jpg">
<img src="{% include image_path.html %}/lax-07.jpg">
<img src="{% include image_path.html %}/lax-08.jpg">
<img src="{% include image_path.html %}/lax-09.jpg">
<img src="{% include image_path.html %}/lax-10.jpg">
