---
layout: post
title: Hito Steyerl
image_path: /projects/hito-steyerl
footer: '<strong>Museo Reina Sofía</strong> 2015 <br><strong><em>Hito Steyerl. Duty-Free Art.</em></strong> Book, 176 pages, 17x24 cm'
---
<img class="fix535 " src="{% include image_path.html %}/HS.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS2.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS3.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS4.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS5.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS6.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS7.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS8.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS9.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS10.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS11.jpg">
<img class="fix535 " src="{% include image_path.html %}/HS12.jpg">
