---
title: 24x7
layout: post
image_path: "/projects/24x7"
footer: "<strong>CentroCentro, Ayuntamiento de Madrid</strong> 2017<br /><em><strong>24/7.
  Conectados</strong></em><br />Exhibition and graphic design"
style: 'body{background-color: #a5a5a5;}'
---

<iframe src="https://player.vimeo.com/video/206560247?title=0[content]byline=0[content]portrait=0" width="952" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>
<iframe src="https://player.vimeo.com/video/206561959?title=0[content]byline=0[content]portrait=0" width="950" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>

<img class="fix535 espacio30" src="{% include image_path_local.html %}/24x7-planos2.gif">

<img class="fix535 espacio30" src="{% include image_path.html %}/24x7folleto.jpg">

<img class="fix535" src="{% include image_path_local.html %}/banderola24x7.gif">
<img class="fix535 espacio30" src="{% include image_path.html %}/banderolaretiro.jpg">



<img class="fix535 espacio" src="{% include image_path.html %}/24x7callao.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/callao.jpg">


<img class="fix535 espacio30" src="{% include image_path_local.html %}/callao24x7.gif">

<img class="fix535" src="{% include image_path.html %}/24x7web.jpg">

<iframe src="https://player.vimeo.com/video/206563250?title=0[content]byline=0[content]portrait=0" width="952" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="espacio30"></iframe>
