---
layout: post_old
title: Present Tense
image_path: /projects/present-tense
footer: '<strong>Centro Atlántico de Arte Moderno</strong>&nbsp; 2008 <br><strong><em>Present Tense.</em></strong> Catalogue, 96 pages, 12,5x18,5 cm'
---
<img src="{% include image_path.html %}/ptense-01.jpg">
<img src="{% include image_path.html %}/ptense-02.jpg">
<img src="{% include image_path.html %}/ptense-03.jpg">
<img src="{% include image_path.html %}/ptense-04.jpg">
<img src="{% include image_path.html %}/ptense-05.jpg">
<img src="{% include image_path.html %}/ptense-06.jpg">
<img src="{% include image_path.html %}/ptense-07.jpg">
<img src="{% include image_path.html %}/ptense-08.jpg">
