---
layout: post
title: de 11 a 21, n.2. CAAC
image_path: /projects/de11a21-n2
footer: '<strong>CAAC, Centro Andaluz de Arte Contemporáneo</strong>&nbsp; 2011&nbsp; <a href="/de11a21">n.0</a> /<a href="/de11a21-n1">n.1</a> /<h6>n.2</h6><br><strong><em>de 11 a 21.</em></strong> 	Issue 2, Song as a Force of Social Transformation<br />Magazine, 112 pages, 19,5x25 cm'

---
<img src="{% include image_path.html %}/11a21-n2-01.jpg">
<img src="{% include image_path.html %}/11a21-n2-02.jpg">
<img src="{% include image_path.html %}/11a21-n2-03.jpg">
<img src="{% include image_path.html %}/11a21-n2-04.jpg">
<img src="{% include image_path.html %}/11a21-n2-05.jpg">
<img src="{% include image_path.html %}/11a21-n2-06.jpg">
<img src="{% include image_path.html %}/11a21-n2-07.jpg">
<img src="{% include image_path.html %}/11a21-n2-08.jpg">
<img src="{% include image_path.html %}/11a21-n2-09.jpg">
<img src="{% include image_path.html %}/11a21-n2-10.jpg">
<img src="{% include image_path.html %}/11a21-n2-11.jpg">
<img src="{% include image_path.html %}/11a21-n2-12.jpg">
<img src="{% include image_path.html %}/11a21-n2-13.jpg">
<img src="{% include image_path.html %}/11a21-n2-14.jpg">
<img src="{% include image_path.html %}/11a21-n2-15.jpg">
