---
layout: post
title: Buen Día
image_path: /projects/buen-dia
footer: '<strong>Buen Día</strong><br>Gift and souvenir objects inspired by the customs, sympathy and sense of humor that are characteristic of the Spanish culture. <br>Visit <a href="http://buendiashop.com/" target="new">Buen Día Shop</a>'
---
<a href="http://www.buendiashop.com/product/bloc-servilletas" class="nohover" target="_blank"><img src="{% include image_path.html %}/buendia-01.jpg"></a>
<a href="http://www.buendiashop.com/product/bloc-mantel" class="nohover" target="_blank"><img src="{% include image_path.html %}/buendia-02.jpg"></a>
<a href="http://www.buendiashop.com/product/palabras-colgantes" class="nohover" target="_blank"><img src="{% include image_path.html %}/buendia-03.jpg"></a>
<a href="http://www.buendiashop.com/product/la-chulina-lisa" class="nohover" target="_blank"><img src="{% include image_path.html %}/buendia-04.jpg"></a>
<a href="http://www.buendiashop.com/product/mi-taco" class="nohover" target="_blank"><img src="{% include image_path.html %}/buendia-05.jpg"></a>
