---
layout: post_old
title: Comunicación. MNCARS
image_path: /projects/mncars-comunicacion
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía. Comunication department</strong>&nbsp; 2008-2010&nbsp;   <h6>Advertising /</h6><a href="{{ site.baseurl }}/projects/mncars-actividades">Postcards</a> /<a href="{{ site.baseurl }}/projects/mncars-kineteca">Kineteca</a> /<a href="{{ site.baseurl }}/projects/mncars-alia-syed">Alia Syed</a><br />Advertising and subway posters (selection)'
---
<img src="{% include image_path.html %}/comunica-mncars-01.jpg">
<img src="{% include image_path.html %}/comunica-mncars-02.jpg">
<img src="{% include image_path.html %}/comunica-mncars-03.jpg">
<img src="{% include image_path.html %}/comunica-mncars-04.jpg">
<img src="{% include image_path.html %}/comunica-mncars-05.jpg">
<img src="{% include image_path.html %}/comunica-mncars-06.jpg">
<img src="{% include image_path.html %}/comunica-mncars-07.jpg">
<img src="{% include image_path.html %}/comunica-mncars-08.jpg">
<img src="{% include image_path.html %}/comunica-mncars-09.jpg">
<img src="{% include image_path.html %}/comunica-mncars-10.jpg" class="espacio25">