---
layout: post_old
title: Gonzalo Puch
image_path: /projects/gonzalo-puch
footer: '<strong>Pepe Cobo Gallery</strong>&nbsp; 2005&nbsp;<br /><em><strong>Gonzalo Puch.</strong></em> Catalogue, 48 pages, 24x30 cm'
style: 'body{background-color: #a5a5a5;}'
---
<img src="{% include image_path.html %}/puch-01.jpg" class="espacio25">

<img src="{% include image_path.html %}/puch-02.jpg">
<img src="{% include image_path.html %}/puch-03.jpg" class="espacio25">

<img src="{% include image_path.html %}/puch-04.jpg">
<img src="{% include image_path.html %}/puch-05.jpg" class="espacio25">

<img src="{% include image_path.html %}/puch-06.jpg">
<img src="{% include image_path.html %}/puch-07.jpg" class="espacio25">

<img src="{% include image_path.html %}/puch-08.jpg">
<img src="{% include image_path.html %}/puch-09.jpg" class="espacio25">

<img src="{% include image_path.html %}/puch-10.jpg">
<img src="{% include image_path.html %}/puch-11.jpg" class="espacio25">

<img src="{% include image_path.html %}/puch-12.jpg">
<img src="{% include image_path.html %}/puch-13.jpg" class="espacio25">
