---
layout: post_old
title: Madrid Mirada
image_path: /projects/madrid-mirada
footer: '<strong>AECID, Ministerio de Asuntos Exteriores</strong>&nbsp; 2008 <br><strong>Madrid Mirada.</strong> Catalogue, 204 pages, 21x26 cm. Leaflet and exhibition image.'
---
<img src="{% include image_path.html %}/madridmirada-01.jpg">
<img src="{% include image_path.html %}/madridmirada-02.jpg">
<img src="{% include image_path.html %}/madridmirada-03.jpg">
<img src="{% include image_path.html %}/madridmirada-04.jpg">
<img src="{% include image_path.html %}/madridmirada-05.jpg">
<img src="{% include image_path.html %}/madridmirada-06.jpg">
<img src="{% include image_path.html %}/madridmirada-07.jpg">
<img src="{% include image_path.html %}/madridmirada-08.jpg">
<img src="{% include image_path.html %}/madridmirada-09.jpg">
<img src="{% include image_path.html %}/madridmirada-10.jpg">
<img src="{% include image_path.html %}/madridmirada-11.jpg">
<img src="{% include image_path.html %}/madridmirada-12.jpg">
<img src="{% include image_path.html %}/madridmirada-13.jpg" class="espacio25">
