---
layout: post_old
title: Fecyt publications
image_path: /projects/fecyt-publications
footer: '<strong>FECYT, Spanish Foundation for Science and Technology</strong> &nbsp;2005 &nbsp;<a href="/projects/fecyt-identity">Visual Identity</a> / <h6>Publications</h6> / <a href="/projects/fecyt-books">Books</a> <br>Anual Reports, Cientific Reports, Publications'
---
<img src="{% include image_path.html %}/fecyt-06.jpg">
<img src="{% include image_path.html %}/fecyt-07.jpg">
<img src="{% include image_path.html %}/fecyt-08.jpg">
<img src="{% include image_path.html %}/fecyt-09.jpg">
<img src="{% include image_path.html %}/fecyt-10.jpg">
<img src="{% include image_path.html %}/fecyt-11.jpg" class="espacio25">
