---
layout: post_old
title: RRT PS1
image_path: /projects/ps1
footer: '<strong>Ministerio de Exteriores / AECI</strong> &nbsp;2003 <br><em><strong>The Real Royal Trip, PS1.</strong></em>  Brochure, folder, press release, invitations'
style: 'body{background-color: #a5a5a5;}'
---

<img src="{% include image_path.html %}/ps-01.jpg">
<img src="{% include image_path.html %}/ps-02.jpg">
<img src="{% include image_path.html %}/ps-03.jpg" class="espacio25">

<img src="{% include image_path.html %}/ps-04.jpg" class="espacio25">



<img src="{% include image_path.html %}/ps-06.png" class="espacio25">

<img src="{% include image_path.html %}/ps-05.png" class="espacio25">



<img src="{% include image_path.html %}/ps-bodegon.png">
