---
layout: post_old
title: Joana Pimentel. Meiac
image_path: /projects/meiac-joana-pimentel
footer: '<strong>MEIAC, Museo Extremeño e iberoamericano de Arte Contemporáneo</strong>&nbsp; 2008&nbsp; <a href="{{ site.baseurl }}/projects/meiac-isabel-maria">PLP01</a> / <a href="{{ site.baseurl }}/projects/meiac-maite-cajaraville">PLP02</a> / <a href="{{ site.baseurl }}/projects/meiac-manuel-vilches">PLP03</a> / <a href="{{ site.baseurl }}/projects/meiac-alonso-gil">PLP04</a> / <a href="{{ site.baseurl }}/projects/meiac-ivan-marino">PLP05</a> / <a href="{{ site.baseurl }}/projects/meiac-gustavo-romano">PLP06</a> / <h6>PLP07</h6> / <a href="{{ site.baseurl }}/projects/meiac-marta-y-publio">PLP08 </a>/ <a href="{{ site.baseurl }}/projects/meiac-marta-de-menezes">PLP09</a><br /><strong>Joana Pimentel, <em>En circunstancias normales.</em></strong> Catalogue, 104 pages, 15x21 cm. Post Local Projects 07'
---
<img src="{% include image_path.html %}/joana-pimentel-plp07-01.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-02.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-03.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-04.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-05.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-06.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-07.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-08.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-09.jpg">
<img src="{% include image_path.html %}/joana-pimentel-plp07-10.jpg">
