---
layout: post
title: Describiendo el amor. MNCARS
image_path: /projects/mncars-amor
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía</strong>&nbsp; 2000-2010&nbsp;   <a href="/mncars-audiovisuales">Programs</a><h6>/ Brochures</h6> <a href="/mncars-cine-y-casi-cine">1,</a><a href="/mncars-sesiones-animadas">2,</a><a href="/mncars-no-performances">3,</a><h6>4,</h6> <a href="/mncars-cine-y-casi-2007">5,</a> <a href="/mncars-latinoamerica">6</a><br /><em><strong>Describiendo el amor.</strong></em> 2004, 48 pages, 12x17 cm'
style: '.content img{
	display: inline;
}
.content{
	margin-top: 65px;
	font-family: arial;
	height:300px;
	padding: 25px;
	font-size:14px;
	padding-bottom: 20px;
	padding-top: 0px;
	white-space: nowrap;
}
'
---
<img src="{% include image_path.html %}/amor-01.jpg">
<img src="{% include image_path.html %}/amor-02.jpg">
<img src="{% include image_path.html %}/amor-03.jpg">
<img src="{% include image_path.html %}/amor-04.jpg">
<img src="{% include image_path.html %}/amor-05.jpg">
<img src="{% include image_path.html %}/amor-06.jpg">
<img src="{% include image_path.html %}/amor-07.jpg">

