---
layout: post
title: Pitch-In
image_path: /projects/pitch-in
footer: "<strong>Ayuntamiento de Madrid, La noche en blanco</strong> 2010<br /><strong><em> Pitch-in.</em> </strong> Paper basket design, produced out of the carpet installed to celebrate Madrid's Gran Vía 100th anniversary <br />Event concept & design: Pitch-in game"
style: '.content img{
	display: inline;
}
.content{
	margin-top: 65px;
	font-family: arial;
	height:535px;
	padding: 25px;
	font-size:14px;
	padding-bottom: 20px;
	padding-top: 0px;
	white-space: nowrap;
}'
---
<img class="fix535" src="{% include image_path.html %}/lnb.jpg">
<img class="fix535" src="{% include image_path.html %}/lnb11.jpg">
<img class="fix535" src="{% include image_path.html %}/lnb2.jpg">
<img class="fix535" src="{% include image_path.html %}/lnb3.jpg">
<img class="fix535" src="{% include image_path.html %}/lnb4.jpg">
<img class="fix535" src="{% include image_path.html %}/lnb5.jpg">
<img class="fix535" src="{% include image_path.html %}/lnb6.jpg">
<img class="fix535" src="{% include image_path.html %}/lnb7.jpg">
<img class="fix535 espacio30" src="{% include image_path.html %}/lnb8.jpg">

<iframe src="https://player.vimeo.com/video/128508654?color=ffffff[content]title=0[content]byline=0[content]portrait=0" width="951" height="535" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
