---
layout: post_old
title: Ulrike Ottinger
image_path: /projects/ulrike-ottinger
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía</strong>&nbsp; 2004<br><em><strong>Ulrike Ottinger.</strong></em> Book, 80 pages, 17x24 cm'
---
<img src="{% include image_path.html %}/otng-01.jpg">
<img src="{% include image_path.html %}/otng-02.jpg">
<img src="{% include image_path.html %}/otng-03.jpg">
<img src="{% include image_path.html %}/otng-04.jpg">
<img src="{% include image_path.html %}/otng-05.jpg">
<img src="{% include image_path.html %}/otng-06.jpg">
<img src="{% include image_path.html %}/otng-07.jpg">
<img src="{% include image_path.html %}/otng-08.jpg">
<img src="{% include image_path.html %}/otng-09.jpg">
<img src="{% include image_path.html %}/otng-10.jpg">
