---
layout: post_old
title: Stan Brakhage
image_path: /projects/stan-brakhage
footer: '<strong>Museo Reina Sofía</strong>&nbsp; 2004<br><em><strong>Stan Brakhage.</strong></em> Book, 96 pages, 17x24 cm'
---
<img src="{% include image_path.html %}/stan-brakhage-01.jpg">
<img src="{% include image_path.html %}/stan-brakhage-02.jpg">
<img src="{% include image_path.html %}/stan-brakhage-03.jpg">
<img src="{% include image_path.html %}/stan-brakhage-04.jpg">
<img src="{% include image_path.html %}/stan-brakhage-05.jpg">
<img src="{% include image_path.html %}/stan-brakhage-06.jpg">
<img src="{% include image_path.html %}/stan-brakhage-07.jpg">
<img src="{% include image_path.html %}/stan-brakhage-08.jpg">
<img src="{% include image_path.html %}/stan-brakhage-09.jpg">
