---
layout: post_old
title: Monocanal
image_path: /projects/monocanal
footer: '<strong>Museo Reina Sofía</strong> &nbsp;2003 <br><strong><em>Monocanal.</em></strong> Book, 248 pages, 14x21 cm '
---
<img src="{% include image_path.html %}/monocanal-01.jpg">
<img src="{% include image_path.html %}/monocanal-02.jpg">
<img src="{% include image_path.html %}/monocanal-03.jpg">
<img src="{% include image_path.html %}/monocanal-04.jpg">
<img src="{% include image_path.html %}/monocanal-05.jpg">
<img src="{% include image_path.html %}/monocanal-06.jpg">
<img src="{% include image_path.html %}/monocanal-07.jpg">
<img src="{% include image_path.html %}/monocanal-08.jpg">
<img src="{% include image_path.html %}/monocanal-09.jpg">
<img src="{% include image_path.html %}/monocanal-10.jpg">
