---
layout: post_old
title: R internet-telefonia-televisión
image_path: /projects/r
footer: '<strong>R internet-telefonia-televisión</strong> &nbsp;2003 <br>Trade stand design for the presentation of a new company at telecommunications fairs<br>The objective was to create interest around a company that was not yet offering its services and had no established brand.'
---
<img src="{% include image_path.html %}/r-01.jpg">
<img src="{% include image_path.html %}/r-02.jpg">
<img src="{% include image_path.html %}/r-03.jpg">
<img src="{% include image_path.html %}/r-04.jpg">
