---
layout: post_old
title: Cárcel de amor (cat)
image_path: /projects/carcel-de-amor
footer: '<strong>Museo Nacional Centro de Arte Reina Sofía</strong>&nbsp; 2005&nbsp;<br /><em><strong>Cárcel de amor. </strong></em>Book, 368 pages, 17x22,5 cm'
style: 'body{background-color: #a5a5a5;}'
---
<img src="{% include image_path.html %}/carmor-01.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-02.jpg">
<img src="{% include image_path.html %}/carmor-03.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-04.jpg">
<img src="{% include image_path.html %}/carmor-05.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-06.jpg">
<img src="{% include image_path.html %}/carmor-07.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-08.jpg">
<img src="{% include image_path.html %}/carmor-09.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-10.jpg">
<img src="{% include image_path.html %}/carmor-11.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-12.jpg">
<img src="{% include image_path.html %}/carmor-13.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-14.jpg">
<img src="{% include image_path.html %}/carmor-15.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-16.jpg">
<img src="{% include image_path.html %}/carmor-17.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-18.jpg">
<img src="{% include image_path.html %}/carmor-19.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-20.jpg">
<img src="{% include image_path.html %}/carmor-21.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-22.jpg">
<img src="{% include image_path.html %}/carmor-23.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-24.jpg">
<img src="{% include image_path.html %}/carmor-25.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-26.jpg">
<img src="{% include image_path.html %}/carmor-27.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-28.jpg">
<img src="{% include image_path.html %}/carmor-29.jpg" class="espacio25">

<img src="{% include image_path.html %}/carmor-30.jpg">
<img src="{% include image_path.html %}/carmor-31.jpg" class="espacio25">
