---
layout: post_old
title: Chachi
image_path: /projects/chachi
footer: '<strong>La Casa Encendida</strong> &nbsp;2005 <br><strong><em>2x1 </em></strong>Exhibition curated by Basurama. <strong><em>Chachi-100% cajón</em></strong>, building game design. Product made from recycled fruit crates'
---
<img src="{% include image_path.html %}/chachi-01.jpg">
<img src="{% include image_path.html %}/chachi-02.jpg">
<img src="{% include image_path.html %}/chachi-03.jpg">
<img src="{% include image_path.html %}/chachi-04.jpg">
<img src="{% include image_path.html %}/chachi-05.jpg" class="espacio25">
