---
layout: post_old
title: Museo Marco launch
image_path: /projects/museo-marco-launch
footer: '<strong>Marco, Museo de Arte contemporáneo de Vigo</strong>&nbsp; 2003&nbsp;<a href="/elvivero/museo-marco">visual identity</a> / <h6>launch</h6> / <a href="/elvivero/museo-marco-stationary">stationary</a> / <a href="/elvivero/museo-marco-stand">tradestand</a><br />Diseño de marca'
---
<img src="{% include image_path.html %}/marco-lanzamiento-01.jpg" class="espacio25">

<img src="{% include image_path.html %}/marco-lanzamiento-02.jpg">
<img src="{% include image_path.html %}/marco-lanzamiento-03.jpg">
<img src="{% include image_path.html %}/marco-lanzamiento-04.jpg">
