---
layout: post
title: El poder del arte
image_path: /projects/el-poder-del-arte
footer: '<p><strong>Spanish Parliament, AC/E Spanish Cultural Agency, Museo Reina Sofía,  </strong>2018<br /><strong><em>El poder del arte. </em></strong>Visual identity, catalogue and exhibition graphics at Spanish Congress and Senate'
---
<img class="fix535 espacio25" src="{% include image_path.html %}/congreso.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/pda3.jpg">
<img class="fix535 espacio25" src="{% include image_path.html %}/pda4.jpg">



<img class="fix535 espacio25" src="{% include image_path.html %}/pda.jpg">
<img class="fix535 espacio25" src="{% include image_path.html %}/pda2.jpg">

<img class="fix535 espacio25" src="{% include image_path.html %}/pda5.jpg">

<img class="fix535" src="{% include image_path.html %}/autobus.gif">
<img class="fix535 espacio25" src="{% include image_path.html %}/pda6.jpg">


<img class="fix535 espacio25" src="{% include image_path.html %}/Publicacion-el-poder-del-arte.gif">

<img class="fix535 espacio25" src="{% include image_path.html %}/pda.gif">
