---
layout: post
title: Cine por mujeres
image_path: /projects/lee-lozano
footer: '<p><strong>Lee Lozano</strong><br />  <strong>Instituto Cervantes / Goethe Institut </strong> 2014-2015<br />VI Spanish-German Culture Meeting. Berlín amp; Madrid <br />Visual identity, web, exhibition graphics, catalog, postcard and brochure design. <a href="http://architectusomnibus.org/" target="new">www.architectusomnibus.org</a>'
---
<img class="fix535 espacio25" src="{% include image_path.html %}/LeeLozano.jpg">
<img class="fix535 espacio25" src="{% include image_path.html %}/LeeLozano2.jpg">
<img class="fix535 espacio25" src="{% include image_path.html %}/LeeLozano3.jpg">
