---
layout: post
title: Lee Lozano
image_path: /projects/lee-lozano
footer: '<p><strong>Museo Reina Sofía  </strong>2017<br />  <strong><em>Lee Lozano. Forzar la máquina. </em></strong>Catalogue, 208 pages, 20,5 x 26 cm'
---
<img class="fix535" src="{% include image_path.html %}/leelozano-1.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-2.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-5.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-6.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-7.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-8.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-9.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-10.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-11.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-12.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-13.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-15.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-16.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-17.jpg">
<img class="fix535" src="{% include image_path.html %}/leelozano-18.jpg">
