---
layout: post
title: Dorothea Tanning
image_path: /projects/dorothea-tanning
footer: '<p><strong>Museo Reina Sofía  </strong>2018<br />  <strong><em>Dorothea Tanning.</em></strong>Catalogue, 208 pages, 20,5 x 26 cm'
---
<img class="fix535" src="{% include image_path.html %}/dorotheatanning.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning2.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning3.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning4.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning5.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning6.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning7.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning8.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning9.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning10.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning11.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning12.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning13.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning14.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning15.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning16.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning17.jpg">
<img class="fix535" src="{% include image_path.html %}/dorotheatanning18.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning19.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning20.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning21.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning22.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning23.jpg">
<img class="fix535" src="{% include image_path.html %}/pdorotheatanning24.jpg">
