---
layout: post
title: Cine por mujeres
image_path: /projects/el-poder-del-arte
footer: '<p><strong>El poder del arte</strong><br />  <strong>Instituto Cervantes / Goethe Institut </strong> 2014-2015<br />VI Spanish-German Culture Meeting. Berlín amp; Madrid <br />Visual identity, web, exhibition graphics, catalog, postcard and brochure design. <a href="http://architectusomnibus.org/" target="new">www.architectusomnibus.org</a>'
---
<img class="fix535 espacio25" src="{% include image_path.html %}/congreso.jpg">
<img class="fix535 espacio15" src="{% include image_path.html %}/pda3.jpg">
<img class="fix535 espacio25" src="{% include image_path.html %}/pda4.jpg">

<img class="fix535 espacio25" src="{% include image_path.html %}/pda.jpg">
<img class="fix535 espacio25" src="{% include image_path.html %}/pda2.jpg">

<img class="fix535 espacio25" src="{% include image_path.html %}/pda5.jpg">

<img class="fix535" src="{% include image_path.html %}/pda6.jpg">
<img class="fix535 espacio25" src="{% include image_path.html %}/autobus.gif">
<img class="fix535 espacio25" src="{% include image_path.html %}/pda7.jpg">
