---
layout: post
title: Pilar Albarracin 2018
image_path: /projects/pilar-albarracin-2018
footer: '<p><strong>Pilar Albarracín</strong><br />  <strong>Instituto Cervantes / Goethe Institut </strong> 2014-2015<br />VI Spanish-German Culture Meeting. Berlín amp; Madrid <br />Visual identity, web, exhibition graphics, catalog, postcard and brochure design. <a href="http://architectusomnibus.org/" target="new">www.architectusomnibus.org</a>'
---
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin2.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin3.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin4.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin5.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin6.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin7.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin8.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin9.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin10.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin11.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin12.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin13.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin14.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin15.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin16.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin17.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin18.jpg">
<img class="fix535" src="{% include image_path.html %}/pilaralbarracin19.jpg">
