---
layout: post
title: Las arquitecturas bilbainas de Juan Daniel Fullaondo (1964-1978)
image_path: /projects/fullaondo
footer: '<strong>Mugak / Bienal Internacional de Arquitectura de Euskadi</strong> y <strong>Escuela Técnica Superior de Arquitectura de San Sebastián.</strong>&nbsp; 2021-22<br><strong><em>Las arquitecturas bilbainas de Juan Daniel Fullaondo (1964-1978)</em></strong>.  Diseño expositivo, gráfico y realización de vídeo. Proyecto comisariado por Joaquín Lizasoain.'
---

<img class="fix535" src="{% include image_path.html %}/Fullando00.jpg" />
<img class="fix535" src="{% include image_path.html %}/Fullando01.jpg" />
<img class="fix535" src="{% include image_path.html %}/Fullando02.jpg" />
<img class="fix535" src="{% include image_path.html %}/Fullando03.jpg" />
<img class="fix535" src="{% include image_path.html %}/Fullando04.jpg" />
<img class="fix535" src="{% include image_path.html %}/Fullando05.jpg" />
<img class="fix535" src="{% include image_path.html %}/Fullando06.jpg" />

<iframe src="https://player.vimeo.com/video/660388944?h=ba093d8c72&badge=0&autopause=0&player_id=0&app_id=58479" width="769" height=535" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<iframe src="https://player.vimeo.com/video/642315225?h=fb21873a8e&badge=0&autopause=0&player_id=0&app_id=58479" width="951" height=535" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

<img class="fix535" src="{% include image_path_local.html %}/Cartel.jpg" />
<img class="fix535" src="{% include image_path_local.html %}/Invitacion.jpg" />


<!--
    Comisariado: Joaquín Lizasoain.
    Asesoría al comisariado: @lucia_c_perezmoreno
    Fotografías: Ingartzi Etxeandia y Anton Behiak @antonmalamanera
    Diseño expositivo: Joaquín Lizasoain y El vivero
    Diseño gráfico: El vivero
    Impresiones digitales: @sanchopereg
    Montaje expositivo: @estudiosdurero
    Organismos colaboradores: Archivo de la Delegación en Bizkaia del COAVN; Archivo Municipal de Bilbao; Archivo Municipal de Durango; Archivo Municipal de Portugalete; Fundación Museo Jorge Oteiza; y Archivo Paco Gómez.
    Patrocinadores: Gobierno Vasco, Departamento de Planificación Territorial, Vivienda y Transportes; Ayuntamiento de Bilbao; Delegación  en Bizkaia del Colegio Oficial de Arquitectos Vasco Navarro; y Puerto  de Bilbao. #fullaondo
-->
